@model VillaBisutti.Delta.Core.Model.Prato
@{
	Layout = null;
	//ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" language="javascript">
	var enviado;
	function Buscar(texto, item) {
		window.clearTimeout(enviado);
		if (texto == undefined)
			texto = "";
		if (item == undefined || isNaN(item)|| item == "")
			item = 0;
		var url = "@Url.Action("Buscar", "Prato", new { combo = "~0", texto = "~1" })";
		url = url.replace("~0", item).replace("~1", encodeURI(texto)).replace("&amp;", "&");
		enviado = window.setTimeout("LoadPage(\"" + url + "\", \"ResultView\");", 1000);

	}
	$(document).ready(function () {
		$("#EditarTipoPrato").attr("disabled", "disabled");
		$("#ExcluirTipoPrato").attr("disabled", "disabled");
		$("#TipoPratoId").change(function () {
			var id = $(this).val();
			if (id == "") {
				$("#EditarTipoPrato").attr("disabled", "disabled");
				$("#ExcluirTipoPrato").attr("disabled", "disabled");
			} else {
				$("#EditarTipoPrato").removeAttr("disabled");
				$("#ExcluirTipoPrato").removeAttr("disabled");
			}
			var urlEditar = "@(Url.Action("Edit", "TipoPrato"))/";
			var urlDeletar = "@(Url.Action("Delete", "TipoPrato"))/";
			$("#EditarTipoPrato").click(function () {
				ShowPopUp(urlEditar + id, "Editar tipo de item de prato", 790);
			});
			$("#ExcluirTipoPrato").click(function () {
				ShowPopUp(urlDeletar + id, "Excluir tipo de item de prato", 790);
		    });
			Buscar($("#Nome").val(), $("#TipoPratoId").val());
		});
		$("#Nome").keyup(function () {
			if($(this).val().length > 3)
				Buscar($("#Nome").val(), $("#TipoPratoId").val());
		});
		PreventNegativeNumbers("Quantidade");
		Buscar($("#Nome").val(), $("#TipoPratoId").val());

		$(".PopUpActionLinks").click(function (e) {
		    e.preventDefault();
		    ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
		});
	});
</script>

@using (Html.BeginForm("ItemCreated", "Prato"))
	{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Configuração de Pratos</h4>
		<hr />
		@Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TipoPrato, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("TipoPratoId", (IEnumerable<SelectListItem>)ViewBag.TipoPrato, string.Empty, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <a href="@(Url.Action("Create", "TipoPrato"))" class="btn btn-sm btn-default PopUpActionLinks" id="CriarTipoPrato"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Criar</a>
                <a href="javascript:void(0);" class="btn btn-sm btn-default" id="EditarTipoPrato"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a>
                <a href="javascript:void(0);" class="btn btn-sm btn-default" id="ExcluirTipoPrato"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir</a>
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.TipoPrato)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Nome)
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Salvar" class="btn btn-default form-control" />
            </div>
        </div>
	</div>
	}
<div class="clear-fix"></div>
<div id="ResultView" class="row col-sm-12">

</div>