@model VillaBisutti.Delta.Core.DTO.Prato
@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
}
<script language="javascript" type="text/javascript">
	function AvisarPratoExistente(cardapio, prato) {
		AddStack("Atenção", "O prato <em>" + prato + "</em> já está incluso no cardápio <em>" + cardapio + "</em><br/>Nada foi alterado");
	}
	function IncluirPrato(cardapioId, pratoId) {
		var url = '@Url.Action("IncluirPratoCardapio", "Prato", new { pratoId = "PrAtOiD", cardapioId = "CaRdApIoId" })';
		url = url.replace("CaRdApIoId", cardapioId).replace("PrAtOiD", pratoId).replace("&amp;", "&");
		var id = "AddingTarget_" + cardapioId + "_" + pratoId;
		var $targetDiv = $("<div />").attr("id", id);
		$("body").append($targetDiv);
		LoadPage(url, id);
	}
	function SortItems(containerId) {
		containerId = "#" + containerId;
		var $list = $(containerId);
		var $listLi = $(containerId + " li:not(.placeholder)");
		$listLi.sort(function (a, b) {
			var keyA = $(a).text();
			var keyB = $(b).text();
			return (keyA > keyB) ? 1 : 0;
		});
		$.each($listLi, function (index, row) {
			$list.append(row);
		});
	}
	function DeleteItem(url, id) {
		var args = id.split("_")
		var pId = args[2];
		var cId = args[1];
		var targetId = "DeletingTarget_" + cId + "_" + pId;
		var $targetDiv = $("<div />").attr("id", targetId);
		$("body").append($targetDiv);
		LoadPage(url, id);
	}
	$(document).ready(function () {
	    var windowHeight = $(window).height() - 160;
	    $("#PainelCardapios").css('height', windowHeight);
	    $("#PainelTipoComida").css('height', windowHeight);
	    $("#PainelCardapios").css('margin-bottom', -35);
	    $("#PainelTipoComida").css('margin-bottom', -35);

		$("#PainelCardapios a").click(function (e) {
			e.preventDefault();
			DeleteItem($(this).attr("href"), $(this).attr("id"))
		});
		$(".collapsible").click(function () {
			var id = "#" + $(this).attr("data-toggle");
			$(id).toggle("clip", {}, 50);
			$("i", this).toggleClass("fa-caret-square-o-up fa-caret-square-o-down");
		});
		$("#PainelTipoComida li").draggable({
			appendTo: "body",
			helper: "clone"
		});
		$("#PainelCardapios ol").droppable({
			activeClass: "ui-state-default",
			hoverClass: "ui-state-hover",
			accept: ":not(.ui-sortable-helper)",
			drop: function (event, ui) {
				var items = $(this).find("li");
				var pId = ui.draggable.attr("id").split("_")[2];
				var cId = $(this).attr("id").split("_")[1];
				var deleteUrl = "@Url.Action("RemoverPratoCardapio", "Prato", new { pratoId = "PrAtOiD", cardapioId = "CaRdApIoId" })";
				deleteUrl = deleteUrl.replace("CaRdApIoId", cId).replace("PrAtOiD", pId).replace("&amp;", "&");
				var tem = false;
				items.each(function () {
					if ($(this).attr("id") == "PratoCardapio_" + cId + "_" + pId) {
						tem = true;
						AvisarPratoExistente($("#Cardapio_H_" + cId).text(), ui.draggable.text());
						return false;
					}
				});
				if (tem) {
					return false;
				}
				var $li = $("<li/>")
					.attr("id", "PratoCardapio_" + cId + "_" + pId)
					.attr("class", "list-group-item");
				var $aHref = $("<a />").text("remover")
					.attr("id", "Remover_" + cId + "_" + pId)
					.attr("href", deleteUrl)
					.attr("class", "badge bg-danger")
					.click(function (e) {
						e.preventDefault();
						DeleteItem($(this).attr("href"), $(this).attr("id"))
					})
					.appendTo($li);
				$li.html($li.html() + ui.draggable.text())
					.appendTo(this);
				SortItems($(this).attr("id"));
				IncluirPrato(cId, pId);
			}
		});
	});
</script>
<h4>Distribuição dos Pratos nos cardápios</h4>
<div id="PainelCardapios" class="col-md-6">
	@foreach (VillaBisutti.Delta.Core.Model.Cardapio c in Model.Cardapios)
	{
		<div class="panel panel-info">
			<div id="Cardapio_H_@(c.Id)" class="panel-heading collapsible" data-toggle="Cardapio_@(c.Id)">
				<i class="fa fa-caret-square-o-up pull-right"></i>
				@(c.Nome)
			</div>
			<ol class="list-group" id="Cardapio_@(c.Id)">
				<li class="list-group-item placeholder list-group-item-warning text-right">Arraste os pratos para este cardápio</li>
				@foreach (VillaBisutti.Delta.Core.Model.Prato p in c.Pratos)
				{
					<li class="list-group-item" id="PratoCardapio_@(c.Id)_@(p.Id)">
						<a href="@Url.Action("RemoverPratoCardapio", "Prato", new { pratoId = p.Id, cardapioId = c.Id })" id="Remover_@(c.Id)_@(p.Id)" class="badge bg-danger">remover</a>
						@(p.Nome)
					</li>
				}
			</ol>
		</div>
	}
</div>
<div id="PainelTipoComida" class="col-md-6">
	@foreach (VillaBisutti.Delta.Core.Model.TipoPrato t in Model.TiposDePrato)
	{
		<div class="panel panel-info">
			<div class="panel-heading collapsible" data-toggle="Tipo_@(t.Id)">
                @(t.Nome)
                <i class="fa fa-caret-square-o-up pull-right"></i>
            </div>
			<ol class="list-group" id="Tipo_@(t.Id)">
				@foreach (VillaBisutti.Delta.Core.Model.Prato p in t.Pratos)
				{
					<li class="list-group-item" id="PratoTipo_@(t.Id)_@(p.Id)">
						@(p.Nome)
					</li>
				}
			</ol>
		</div>
	}
</div>
