@model Dictionary<int, string>
@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
}
@if (ViewBag.IsBlocked == "TRUE")
{
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			LockPage();
		});
	</script>
}
@section scripts {
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("#SortItems").sortable({
			update: function () {
				var order = $("#SortItems").sortable("toArray");
				var escapeString = "";
				for (var i = 0; i < order.length; i++) {
					escapeString += order[i].split("_")[1];
					if (i + 1 < order.length)
						escapeString += ",";
				}
				var url = "@Url.Action("SetOrder", "Order", new { order="OrDeR", qual = ViewBag.Qual })";
				url = url.replace("OrDeR", escapeString).replace("&amp;", "&");
				var id = "AddingTarget_" + (Math.random() + "").replace(".", "");
				var $targetDiv = $("<div />").attr("id", id);
				$("body").append($targetDiv);
				LoadPage(url, id);
			}
		});
	});
</script>
}
<p><span class="lead">Ordenar os itens</span> (conforme aparecerão na OS impressa)</p>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li><a href="@Url.Action("Index", "Order", new { qual = "DR" })"><i class="green fa fa-leaf"></i> Decoração da recepção </a></li>
		<li><a href="@Url.Action("Index", "Order", new { qual = "DC" })"><i class="green fa fa-heart"></i> Decoração do cerimonial </a></li>
		<li><a href="@Url.Action("Index", "Order", new { qual = "MS" })"><i class="green fa fa-trophy"></i> Montagem do salão </a></li>
		<li><a href="@Url.Action("Index", "Order", new { qual = "GS" })"><i class="green fa fa-cutlery"></i> Gastronomia </a></li>
		<li><a href="@Url.Action("Index", "Order", new { qual = "BB" })"><i class="green fa fa-glass"></i> Bebidas </a></li>
		<li><a href="@Url.Action("Index", "Order", new { qual = "BD" })"><i class="green fa fa-birthday-cake"></i> Bolo, doces e bem-casado </a></li>
		<li><a href="@Url.Action("Index", "Order", new { qual = "FV" })"><i class="green fa fa-camera-retro"></i> Foto e vídeo </a></li>
		<li><a href="@Url.Action("Index", "Order", new { qual = "SI" })"><i class="green fa fa-headphones"></i> Som e iluminação </a></li>
		<li><a href="@Url.Action("Index", "Order", new { qual = "OI" })"><i class="green fa fa-gift"></i> Outros itens </a></li>
	</ul>
	<div class="tab-content">
		<ul class="list-group" id="SortItems">
			@foreach (int item in Model.Keys)
			{
				<li class="list-group-item" id="Item_@(item)">
					<span class="pull-right fa fa-sort"></span>
					@(Model[item])
				</li>
			}
		</ul>
	</div>
</div>