@model IEnumerable<VillaBisutti.Delta.Core.Model.PratoSelecionado>
@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
}
<script language="javascript" type="text/javascript">
	function FiltrarPratos(cId, tId)
	{
		if(isNaN(cId) || isNaN(tId) || cId == "" || tId == "")
		{
			var emptyMessage = "";
			emptyMessage += "<p>Selecione corretamente @Html.DisplayNameFor(model => model.Cardapio) e ";
			emptyMessage += "@Html.DisplayNameFor(model => model.TipoServico) para editar os <span class=\"lead\">pratos padrão para degustação</span></p>."
			$("#PratosContainer").html(emptyMessage);
			return;
		}
		var url = "@Url.Action("Configuracao", "PratoSelecionado", new { cardapioId = "CaRdApIoId", tipoServicoId = "TiPoSeRvIcOiD" })";
		url = url.replace("CaRdApIoId", cId).replace("TiPoSeRvIcOiD", tId).replace("&amp;", "&");
		LoadPage(url, "#PratosContainer");
	}
	$(document).ready(function () {
		$("#CardapioId").change(function () {
			FiltrarPratos($(this).val(), $("#TipoServicoId").val());
		});
		$("#TipoServicoId").change(function () {
			FiltrarPratos($("#CardapioId").val(), $(this).val());
		});
	});
</script>
<div class="row">
	<div class="col-md-4">
		@Html.DisplayNameFor(model => model.Cardapio)
		@Html.DropDownList("CardapioId", (IEnumerable<SelectListItem>)ViewBag.CardapioId, "Selecione", new { @class = "form-control" })
	</div>
	<div class="col-md-4">
		@Html.DisplayNameFor(model => model.TipoServico)
		@Html.DropDownList("TipoServicoId", (IEnumerable<SelectListItem>)ViewBag.TipoServicoId, "Selecione", new { @class = "form-control" })
	</div>
</div>
<div id="PratosContainer">
	<p>
		Selecione corretamente @Html.DisplayNameFor(model => model.Cardapio) e @Html.DisplayNameFor(model => model.TipoServico) para editar os <span class="lead">pratos padrão para degustação</span>
	</p>
</div>