@model IEnumerable<VillaBisutti.Delta.Core.Model.PratoSelecionado>
@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
}
<script language="javascript" type="text/javascript">
	function FiltrarPratos(cId, tId)
	{
		if(isNaN(cId) || isNaN(tId) || cId == "" || tId == "")
		{
			var emptyMessage = "";
			emptyMessage += "<p class=\"alert-info\">Selecione corretamente @Html.DisplayNameFor(model => model.Cardapio) e ";
			emptyMessage += "@Html.DisplayNameFor(model => model.TipoServico) para editar os <strong>pratos padrão para degustação</strong></p>."
			$("#PratosContainer").html(emptyMessage);
			$("#PratosCarregados").hide();
			$("#CopiarCardapioTipoServico").attr("href", "#");
			return;
		}
		$("#PratosCarregados").show();
		var createUrl = "@(Url.Action("Copiar", "PratoSelecionado", new { cardapioId = "CaRdApIoId", tipoServicoId = "TiPoSeRvIcOiD" }))"
		createUrl = createUrl.replace("CaRdApIoId", cId).replace("TiPoSeRvIcOiD", tId).replace("&amp;", "&");
		$("#CopiarCardapioTipoServico").attr("href", createUrl);
		var loadUrl = "@Url.Action("Configuracao", "PratoSelecionado", new { cardapioId = "CaRdApIoId", tipoServicoId = "TiPoSeRvIcOiD" })";
		loadUrl = loadUrl.replace("CaRdApIoId", cId).replace("TiPoSeRvIcOiD", tId).replace("&amp;", "&");
		LoadPage(loadUrl, "#PratosContainer");
	}
	$(document).ready(function () {
		$("#CardapioId").change(function () {
			FiltrarPratos($(this).val(), $("#TipoServicoId").val());
		});
		$("#TipoServicoId").change(function () {
			FiltrarPratos($("#CardapioId").val(), $(this).val());
		});
		$("#CopiarCardapioTipoServico").click(function (e) {
			e.preventDefault();
			LoadPage($(this).attr("href"), "#PratosContainer");
		});
		FiltrarPratos("");
	});
</script>
<div class="row panel">
	<div class="col-md-4">
		@Html.DisplayNameFor(model => model.Cardapio)
		@Html.DropDownList("CardapioId", (IEnumerable<SelectListItem>)ViewBag.CardapioId, "Selecione", new { @class = "form-control" })
	</div>
	<div class="col-md-4">
		@Html.DisplayNameFor(model => model.TipoServico)
		@Html.DropDownList("TipoServicoId", (IEnumerable<SelectListItem>)ViewBag.TipoServicoId, "Selecione", new { @class = "form-control" })
	</div>
	<div class="col-md-4" id="PratosCarregados">
		<p>
			Não está encontrando o prato que está procurando?
			<a id="CopiarCardapioTipoServico" class="btn btn-default" href="#">Copiar os pratos faltantes</a>
		</p>
	</div>
</div>
<div id="PratosContainer">
	<p class="alert-info">
		Selecione corretamente @Html.DisplayNameFor(model => model.Cardapio) e @Html.DisplayNameFor(model => model.TipoServico) para editar os <strong>pratos padrão para degustação</strong>
	</p>
</div>