@model IEnumerable<VillaBisutti.Delta.Core.Model.Foto>
@{
	Layout = null;
}
<h5>Fotos:</h5>
@Html.Partial("../Foto/Create", new VillaBisutti.Delta.Core.Model.Foto())
@foreach (var item in Model)
{
	<div class="col-xs-6 col-md-4">
		<a class="thumbnail PopUpActionLinks" href="@Url.Action("Delete", "Foto", new { id = item.Id })">
			<img src="@Url.Content(Path.Combine("~/Content/Images/", item.URL))" alt="@(item.Legenda)" />
			@Html.DisplayFor(modelItem => item.Legenda)
		</a>
	</div>
}
