@model IEnumerable<VillaBisutti.Delta.Core.Model.Foto>
@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$(".FotoActionLinks").click(function (e) {
			event.preventDefault();
			ShowPopUp($(this).attr("href"), $(this).attr("title"));
		});
	});
</script>
<div class="alert alert-info">
	<h5>Imagens da área:</h5>
	@Html.Partial("../Foto/Create", new VillaBisutti.Delta.Core.Model.Foto())
</div>
@foreach (var item in Model)
{
	<div class="col-xs-6 col-md-4">
		<a class="thumbnail FotoActionLinks" href="@Url.Action("Delete", "Foto", new { id = item.Id })">
			<img src="@Url.Content(Path.Combine("~/Content/Images/", item.URL))" alt="@(item.Legenda)" />
			@Html.DisplayFor(modelItem => item.Legenda)
		</a>
	</div>
}
