@model IEnumerable<VillaBisutti.Delta.Core.Model.Foto>

@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
	//ViewBag.Title = "Index";
}

@section scripts {

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(".PopUpActionLinks").click(function (e) {
                e.preventDefault();
                ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
            });
        });
    </script>
}

@Html.Action("Create", "Foto")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Legenda)
        </th>
		<th>
			Opções
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(Path.Combine("~/Content/Images/", item.URL))" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Legenda)
        </td>
        <td>
           @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "PopUpActionLinks", @title = "Excluir" })
		</td>
    </tr>
}

</table>
