@model VillaBisutti.Delta.Core.Model.Foto
@{
	Layout = null;
}
@if (Model == null)
{
	<div class="alert alert-info">
		<strong>Layout do salão</strong>
		@Html.Partial("../Foto/Definir")
	</div>
}
else
{
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			$(".RemoveFotoLink").click(function (e) {
				event.preventDefault();
				ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
			});
		});
	</script>
	<div class="alert alert-info">
		<strong>Layout do salão</strong>
	</div>
	<div class="col-xs-12">
		<a class="thumbnail RemoveFotoLink" href="@Url.Action("Delete", "Foto", new { id = Model.Id })">
			<img src="@Url.Content(Path.Combine("~/Content/Images/", Model.URL))" alt="@(Model.Legenda)" />
			@Html.DisplayFor(model => model.Legenda)
		</a>
	</div>
}