@model VillaBisutti.Delta.Core.Model.Foto
@{
	Layout = null;
}
@if (Model == null)
{
	@Html.Partial("../Foto/Create")
}
else
{
	<div class="col-xs-12">
		<a class="thumbnail PopUpActionLinks" href="@Url.Action("Delete", "Foto", new { id = Model.Id })">
			<img src="@Url.Content(Path.Combine("~/Content/Images/", Model.URL))" alt="@(Model.Legenda)" />
			@Html.DisplayFor(model => model.Legenda)
		</a>
	</div>
}