@model VillaBisutti.Delta.Core.Model.TipoReuniao

@{
	Layout = null;
	//ViewBag.Title = "Delete";
}
<h3>
	Você tem certeza que deseja excluir?
</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasAntesEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasAntesEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximoEventosEnvolvidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximoEventosEnvolvidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PodeDomingo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodeDomingo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PodeSegunda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodeSegunda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PodeTerca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodeTerca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PodeQuarta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodeQuarta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PodeQuinta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodeQuinta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PodeSexta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodeSexta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PodeSabado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PodeSabado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximoAreaEnvolvida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximoAreaEnvolvida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioDuracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioDuracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioDisponibilidadeInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioDisponibilidadeInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioDisponibilidadeTermino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioDisponibilidadeTermino)
        </dd>

    </dl>
	<h3>
		Esta ação não poderá ser desfeita
	</h3>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" />
			<input type="button" value="Cancelar" data-dismiss="modal" aria-label="Close" class="btn btn-default" aria-hidden="true" />
        </div>
    }
</div>
