@model VillaBisutti.Delta.Core.Model.TipoReuniao
@{
	Layout = null;
}
@if (ViewBag.IsBlocked == "TRUE")
{
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			LockPage();
		});
	</script>
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		CreateHorarioEditor("HorarioDuracao_@(Model.Id)");
	});
</script>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			HandleCheckbox("EditReuniao");
		});
	</script>
	<div class="form-horizontal" id="EditReuniao">
		<h4>TipoReuniao</h4>
		<hr />
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.Id)

		<div class="form-group">
			@Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.Nome)
			</div>
			<div class="col-md-6">
				@Html.ValidationMessageFor(model => model.Nome)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.DiasAntesEvento, new { @class = "control-label col-md-2" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.DiasAntesEvento)
			</div>
			<div class="col-md-6">
				@Html.ValidationMessageFor(model => model.DiasAntesEvento)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.HorarioDuracao, new { @class = "control-label col-md-2" })
			<div class="col-md-4">
				@Html.TextBoxFor(model => model.HorarioDuracao, new { @id = "HorarioDuracao_" + Model.Id, @type = "number" })
			</div>
			<div class="col-md-6">
				@Html.ValidationMessageFor(model => model.HorarioDuracao)
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Dias possíveis</label>
			<div class="col-md-4">
				<div class="row-fluid">
					@Html.EditorFor(model => model.PodeDomingo)
					@Html.LabelFor(model => model.PodeDomingo, new { @class = "control-label", @id = Model.Id + "_PodeDomingo" })
					@Html.ValidationMessageFor(model => model.PodeDomingo)
				</div>
				<div class="row-fluid">
					@Html.EditorFor(model => model.PodeSegunda)
					@Html.LabelFor(model => model.PodeSegunda, new { @class = "control-label" })
					@Html.ValidationMessageFor(model => model.PodeSegunda)
				</div>
				<div class="row-fluid">
					@Html.EditorFor(model => model.PodeTerca)
					@Html.LabelFor(model => model.PodeTerca, new { @class = "control-label" })
					@Html.ValidationMessageFor(model => model.PodeTerca)
				</div>
				<div class="row-fluid">
					@Html.EditorFor(model => model.PodeQuarta)
					@Html.LabelFor(model => model.PodeQuarta, new { @class = "control-label" })
					@Html.ValidationMessageFor(model => model.PodeQuarta)
				</div>
				<div class="row-fluid">
					@Html.EditorFor(model => model.PodeQuinta)
					@Html.LabelFor(model => model.PodeQuinta, new { @class = "control-label" })
					@Html.ValidationMessageFor(model => model.PodeQuinta)
				</div>
				<div class="row-fluid">
					@Html.EditorFor(model => model.PodeSexta)
					@Html.LabelFor(model => model.PodeSexta, new { @class = "control-label" })
					@Html.ValidationMessageFor(model => model.PodeSexta)
				</div>
				<div class="row-fluid">
					@Html.EditorFor(model => model.PodeSabado)
					@Html.LabelFor(model => model.PodeSabado, new { @class = "control-label " })
					@Html.ValidationMessageFor(model => model.PodeSabado)
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
