@model VillaBisutti.Delta.Core.Model.TipoReuniao

@{
	Layout = null;
	//ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiasAntesEvento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiasAntesEvento)
                @Html.ValidationMessageFor(model => model.DiasAntesEvento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaximoEventosEnvolvidos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaximoEventosEnvolvidos)
                @Html.ValidationMessageFor(model => model.MaximoEventosEnvolvidos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PodeDomingo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PodeDomingo)
                @Html.ValidationMessageFor(model => model.PodeDomingo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PodeSegunda, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PodeSegunda)
                @Html.ValidationMessageFor(model => model.PodeSegunda)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PodeTerca, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PodeTerca)
                @Html.ValidationMessageFor(model => model.PodeTerca)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PodeQuarta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PodeQuarta)
                @Html.ValidationMessageFor(model => model.PodeQuarta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PodeQuinta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PodeQuinta)
                @Html.ValidationMessageFor(model => model.PodeQuinta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PodeSexta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PodeSexta)
                @Html.ValidationMessageFor(model => model.PodeSexta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PodeSabado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PodeSabado)
                @Html.ValidationMessageFor(model => model.PodeSabado)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.AreaEnvolvida, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AreaEnvolvida)
                @Html.ValidationMessageFor(model => model.AreaEnvolvida)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.MaximoAreaEnvolvida, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaximoAreaEnvolvida)
                @Html.ValidationMessageFor(model => model.MaximoAreaEnvolvida)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HorarioDuracao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HorarioDuracao)
                @Html.ValidationMessageFor(model => model.HorarioDuracao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HorarioDisponibilidadeInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HorarioDisponibilidadeInicio)
                @Html.ValidationMessageFor(model => model.HorarioDisponibilidadeInicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HorarioDisponibilidadeTermino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HorarioDisponibilidadeTermino)
                @Html.ValidationMessageFor(model => model.HorarioDisponibilidadeTermino)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
				<input type="button" value="Cancelar" data-dismiss="modal" aria-label="Close" class="btn btn-default" aria-hidden="true" />
            </div>
        </div>
    </div>
}