@model IEnumerable<VillaBisutti.Delta.Core.Model.TipoReuniao>

@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
	ViewBag.Title = "Index";
}
@section scripts {
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			$(".PopUpActionLinks").click(function (e) {
				e.preventDefault();
				ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
			});
		});
	</script>
}
@Html.Action("Create", "TipoReuniao")
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Nome)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DiasAntesEvento)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.MaximoEventosEnvolvidos)
		</th>
		<th>
			Dias disponíveis:
		</th>
		<th>
			@Html.DisplayNameFor(model => model.AreaEnvolvida)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.MaximoAreaEnvolvida)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.HorarioDuracao)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.HorarioDisponibilidadeInicio)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.HorarioDisponibilidadeTermino)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Nome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DiasAntesEvento)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MaximoEventosEnvolvidos)
			</td>
			<td>
				@if (item.PodeDomingo) { @(Html.DisplayNameFor(m => m.PodeDomingo) + "| ") }
				@if (item.PodeSegunda) { @(Html.DisplayNameFor(m => m.PodeSegunda) + "| ") }
				@if (item.PodeTerca) { @(Html.DisplayNameFor(m => m.PodeTerca) + "| ") }
				@if (item.PodeQuarta) { @(Html.DisplayNameFor(m => m.PodeQuarta) + "| ") }
				@if (item.PodeQuinta) { @(Html.DisplayNameFor(m => m.PodeQuinta) + "| ") }
				@if (item.PodeSexta) { @(Html.DisplayNameFor(m => m.PodeSexta) + "| ") }
				@if (item.PodeSabado) { @(Html.DisplayNameFor(m => m.PodeSabado) + "| ") }
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AreaEnvolvida)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MaximoAreaEnvolvida)
			</td>
			<td>
				@(item.HorarioDuracao.ToString())
			</td>
			<td>
				@(item.DisponibilidadeInicio.ToString())
			</td>
			<td>
				@(item.DisponibilidadeTermino.ToString())
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "PopUpActionLinks", @title = "Editar" }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "PopUpActionLinks", @title = "Excluir" })
			</td>
		</tr>
	}

</table>
