@model VillaBisutti.Delta.Core.Model.TipoItemDecoracao

@{
	Layout = null;
    ViewBag.Title = "Edit";
}
@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.Id)
		<div class="form-group row">
			@Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Nome)
				@Html.ValidationMessageFor(model => model.Nome)
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.PadraoAniversario, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.EditorFor(model => model.PadraoAniversario)
				@Html.ValidationMessageFor(model => model.PadraoAniversario)
			</div>
			@Html.LabelFor(model => model.PadraoBarmitzva, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.EditorFor(model => model.PadraoBarmitzva)
				@Html.ValidationMessageFor(model => model.PadraoBarmitzva)
			</div>
			@Html.LabelFor(model => model.PadraoBatmitzva, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.EditorFor(model => model.PadraoBatmitzva)
				@Html.ValidationMessageFor(model => model.PadraoBatmitzva)
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.PadraoCasamento, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.EditorFor(model => model.PadraoCasamento)
				@Html.ValidationMessageFor(model => model.PadraoCasamento)
			</div>
			@Html.LabelFor(model => model.PadraoCorporativo, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.EditorFor(model => model.PadraoCorporativo)
				@Html.ValidationMessageFor(model => model.PadraoCorporativo)
			</div>
			@Html.LabelFor(model => model.PadraoDebutante, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.EditorFor(model => model.PadraoDebutante)
				@Html.ValidationMessageFor(model => model.PadraoDebutante)
			</div>
		</div>

		<div class="form-group row">
			@Html.LabelFor(model => model.PadraoOutro, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.PadraoOutro)
				@Html.ValidationMessageFor(model => model.PadraoOutro)
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}