@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
	@RenderSection("scripts", required: false)
}
<div class="col-md-1 navbar navbar-default">
	<ul class="nav navbar-nav">
		<li>
			<a href="@Url.Action("Index", "ItemDecoracao")">
				<i class="menu-icon glyphicon glyphicon-tree-deciduous"></i>
				<span class="menu-text glyphicon-class"> Decoração </span>
			</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "ItemMontagem")">
				<i class=" menu-icon glyphicon glyphicon-home">
				</i>
				<span class="menu-text glyphicon-class"> Montagem </span>
			</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "Prato")">
				<i class="menu-icon glyphicon glyphicon-cutlery"></i>
				<span class="menu-text glyphicon-class"> Gastronomia </span>
			</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "ItemBebida")">
				<i class="menu-icon glyphicon glyphicon-glass"></i>
				<span class="menu-text glyphicon-class"> Bebidas </span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<i class="menu-icon glyphicon glyphicon-heart"></i>
				<span class="menu-text glyphicon-class"> Doces </span>
			</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "ItemFotoVideo")">
				<i class="menu-icon glyphicon glyphicon-camera"></i>
				<span class="menu-text glyphicon-class"> Foto e Vídeo </span>
			</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "ItemSomIluminacao")">
				<i class="menu-icon glyphicon glyphicon-headphones"></i>
				<span class="menu-text glyphicon-class"> Luz e Som </span>
			</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "ItemOutrosItens")">
				<i class="menu-icon glyphicon glyphicon-gift"></i>
				<span class="menu-text glyphicon-class"> Outros Ítens </span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<i class="menu-icon glyphicon glyphicon-book"></i>
				<span class="menu-text glyphicon-class"> Contrato e Aditivos </span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<i class="menu-icon glyphicon glyphicon-bookmark"></i>
				<span class="menu-text glyphicon-class"> Evento </span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<i class="menu-icon glyphicon glyphicon-list"></i>
				<span class="menu-text glyphicon-class"> Roteiro padrão </span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<i class="menu-icon glyphicon glyphicon-bell"></i>
				<span class="menu-text glyphicon-class"> Cronograma cerimonial padrão </span>
			</a>
		</li>
		<li>
			<a href="@Url.Action("Index", "Local")">
				<i class="menu-icon glyphicon glyphicon-map-marker"></i>
				<span class="menu-text glyphicon-class"> Casas </span>
			</a>
		</li>

	</ul>
</div>
<div class="col-md-11">
	@RenderBody()
	<hr />
	<footer>
		<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
	</footer>
</div>
