@using VillaBisutti.Delta;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
	<script type="text/javascript">
		function SerializeNaMarra(element) {
			element = "#" + element.replace(/#/g, "");
			var container = $(element).parent();
			var returnData = "";
			container.find("input").each(function () {
				returnData += "&" + $(this).attr("name") + "=" + $(this).val();
			})
			return returnData;
		}
		$(document).ready(function () {
			try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
			try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
			
			$(document).on('submit', ".FormItemEditor", function (evt) {
				evt.preventDefault();
				var myUrl = $(this).attr("action");
				var id = $(this).attr("id").split("_")[1];
				var myData = $(this).serialize();
				$("#Item_" + id + " input[type='checkbox']").each(function () {
					myData += "&" + $(this).attr("name");
					myData += "=";
					myData += $(this).attr("checked") == "checked" ? "True" : "False";
				});
				console.log(myData);
				if (myData.indexOf("&Id=") < 0)
					myData = SerializeNaMarra($(this).attr("id"))
				console.log(myData);
				$.ajax({
					type: "POST",
					url: myUrl,
					data: myData,
					success: function (data) {
						$("#Item_" + id).removeClass("bg-warning").removeClass("bg-success");
						$("#Item_" + id).addClass(data.trim() == "true" ? "bg-warning" : "bg-success");
						AddStack("Item salvo", "Item alterado com sucesso");
						$("#SpinerDisplay_" + id).addClass("fa-refresh").removeClass("fa-spinner fa-pulse");
					},
					error: function (XMLHttpRequest, textStatus, errorThrown) {
						AddError("Ops!", "Ocorreu um erro ao tentar atualizar este campo.<br />Verifique os dados inseridos e tente novamente.");
						$("#SpinerDisplay_" + id).addClass("fa-refresh").removeClass("fa-spinner fa-pulse");
					}
				});
			});

			$("[data-behavior~=post-async]").submit(function (e) {
				e.preventDefault();
				var form_data = $(this).serialize();
				var form_url = $(this).attr("action");
				var contratar = $("#ContratacaoBisutti").val() == "true";
				var fornecer = $("#FornecimentoBisutti").val() == "true";
				var form_target = "#" + (contratar && fornecer ? "ItensBisutti" : (contratar ? "ItensTerceiro" : "ItensContratante"));
				$.ajax({
					type: "POST",
					url: form_url,
					data: form_data,
					success: function () {
						AddStack("Inclusão de item", "Informação adicionada com sucesso ao evento");
						$("#Quantidade").val(0);
						var txt = $("#Observacoes").val();
						$('[id="Observacoes"]').val("");
						$("#Observacoes").val(txt);
						LoadPage($(form_target).attr("data-collection-url"), form_target);
					},
					error: function () {
						AddError("Espera aí que eu não consegui inserir isso aqui.", "<i class=\"fa fa-frown\"></i>Verifique se você inseriu as informações corretamente e tente mais uma vez pois deu errado pra inserir este ítem")
					}
				});
			});
		});
	</script>
	@RenderSection("scripts", required: false)
}
@{VillaBisutti.Delta.Core.Model.Usuario usuario = VillaBisutti.Delta.SessionFacade.UsuarioLogado;}

@section MenuLateral{
	<div data-sidebar-hover="true" data-sidebar-scroll="true" data-sidebar="true" id="sidebar" class="sidebar responsive sidebar-fixed sidebar-scroll menu-min">
		<ul class="nav nav-list nav-list-left">
			<li>
				<a href="@(Url.Action("Index", "Reuniao", new { id = ViewBag.Id }))">
					<i class="menu-icon fa fa-group"></i>
					<span class="menu-text"> Reuniões </span>
				</a>
				<b class="arrow"></b>
			</li>
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "Decoracao")))
			{
				<li>
					<a href="@Url.Action("Index", "Decoracao", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-leaf"></i>
						<span class="menu-text"> Decoração da recepção </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "DecoracaoCerimonial")))
			{
				<li class="LinkDecoracaoCerimonialMenu">
					<a href="@Url.Action("Index", "DecoracaoCerimonial", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-heart"></i>
						<span class="menu-text"> Decoração do cerimonial </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "Montagem")))
			{
				<li>
					<a href="@Url.Action("Index", "Montagem", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-trophy"></i>
						<span class="menu-text"> Montagem do salão </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "Gastronomia")))
			{
				<li>
					<a href="@Url.Action("Index", "Gastronomia", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-cutlery"></i>
						<span class="menu-text"> Gastronomia </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "Gastronomia")))
			{
				<li>
					<a href="@Url.Action("Index", "Bebida", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-glass"></i>
						<span class="menu-text"> Bebidas </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "BoloDoceBemCasado")))
			{
				<li>
					<a href="@Url.Action("Index", "BoloDoceBemCasado", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-birthday-cake"></i>
						<span class="menu-text"> Bolo, doces e bem-casado </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "FotoVideo")))
			{
				<li>
					<a href="@Url.Action("Index", "FotoVideo", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-camera-retro"></i>
						<span class="menu-text"> Foto e vídeo </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "SomIluminacao")))
			{
				<li>
					<a href="@Url.Action("Index", "SomIluminacao", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-headphones"></i>
						<span class="menu-text"> Som e iluminação </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "OutrosItens")))
			{
				<li>
					<a href="@Url.Action("Index", "OutrosItens", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-gift"></i>
						<span class="menu-text"> Outros itens </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "Roteiro")))
			{
				<li>
					<a href="@Url.Action("Index", "Roteiro", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-list-ul"></i>
						<span class="menu-text"> Roteiro </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
			@if (VillaBisutti.Delta.Core.Business.Usuario.UsuarioPodeLer(usuario, Url.Action("Index", "Cerimonial")))
			{
				<li class="LinkDecoracaoCerimonialMenu">
					<a href="@Url.Action("Index", "Cerimonial", new { id = ViewBag.Id })">
						<i class="menu-icon fa fa-list-ol"></i>
						<span class="menu-text"> Cerimonial </span>
					</a>
					<b class="arrow"></b>
				</li>
			}
		</ul>
		<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
			<i class="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
		</div>
	</div>
}
@Html.Action("Cabecalho", "Evento", new { id = @ViewBag.Id })

@RenderBody()

