<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>&Delta; - Villa Bisutti</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/own")
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	@RenderSection("scripts", required: false)
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script>$(document).ready(function () {$('[data-rel=tooltip]').tooltip();})</script>

</head>
<body class="no-skin">
	<div id="navbar" class="navbar navbar-default navbar-collapse navbar-fixed-top">
		<script type="text/javascript">
			try { ace.settings.check('navbar', 'fixed') } catch (e) { }
		</script>

		<div class="navbar-container" id="navbar-container">
			<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>
			</button>
			<div class="navbar-header pull-left">
				<a href="#" class="navbar-brand">
					<small><!-- style="font-family: 'Satisfy', cursive;" style="vertical-align: middle; width: 30px" -->
						<img src="~/Content/Images/delta.png" /> Delta - Villa Bisutti
					</small>
				</a>
				<button class="pull-right navbar-toggle navbar-toggle-img collapsed" type="button" data-toggle="collapse" data-target=".navbar-buttons">
					<span class="sr-only">Toggle user menu</span>
					<b>RV</b>
				</button>
			</div>

			<div class="navbar-buttons navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">
                    <li class="transparent">
                        <a href="javascript:void(0)" data-rel="tooltip" data-placement="bottom" data-original-title="Robôs e automatizações"><i class="menu-icon fa fa-cogs"></i></a>
                    </li>
                    <li class="transparent">
						<a href="@Url.Action("Index", "Order")" data-rel="tooltip" data-placement="bottom" data-original-title="Ordem de ítens da OS"><i class="menu-icon fa fa-sort-numeric-desc"></i></a>
                    </li>
                    <li class="transparent">
                        <a data-toggle="dropdown" href="#" data-rel="tooltip" data-placement="bottom" data-original-title="Usuários" class="dropdown-toggle">
                            <i class="menu-icon fa fa-group"></i>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <ul role="menu" class="user-menu dropdown-menu dropdown-yellow dropdown-menu-right dropdown-caret">
                            <li>
                                <a href="@Url.Action("Index", "Perfil")">
                                    Perfil
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Usuario")">
                                    Usuário
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                    <li class="transparent">
                        <a href="@Url.Action("HomeConfiguracao", "Home")" data-rel="tooltip" data-placement="bottom" title data-original-title="Configurações"><i class="menu-icon fa fa-cog"></i></a>
					</li>
					<li class="transparent">
                        <a data-toggle="dropdown" href="#" data-rel="tooltip" data-placement="bottom" title data-original-title="Eventos" class="dropdown-toggle">
                            <i class="menu-icon fa fa-calendar"></i>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
						<ul role="menu" class="user-menu dropdown-menu dropdown-yellow dropdown-menu-right dropdown-caret">
							<li>
								<a href="@Url.Action("Create", "Evento")">
									<i class="ace-icon fa fa-plus"></i>
									Adicionar Evento
								</a>
								<b class="arrow"></b>
							</li>
							<li class="divider"></li>
							@Html.Action("MenuEventos", "Home")
						</ul>
					</li>
					<li class="transparent">
                        <a href="#" data-rel="tooltip" data-placement="bottom" title data-original-title="Relatórios"><i class="menu-icon fa fa-dashboard"></i></a>
					</li>
					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">

							<span class="user-info" title="Dom. Pedro de Alcântara Francisco Antônio João Carlos Xavier de Paula Miguel Rafael Joaquim José Gonzaga Pascoal Cipriano Serafim de Bragança Bourbon">
								<small>Olá,</small>
								Dom. Pedro de Alcântara Francisco Antônio João Carlos Xavier de Paula Miguel Rafael Joaquim José Gonzaga Pascoal Cipriano Serafim de Bragança e Bourbon
							</span>

							<i class="ace-icon fa fa-caret-down"></i>
						</a>

						<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="#">
									<i class="ace-icon fa fa-power-off"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.navbar-container -->
	</div>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try { ace.settings.check('main-container', 'fixed') } catch (e) { }
		</script>
		@RenderSection("MenuLateral", required: false)
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<!-- /.ace-settings-container -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							@RenderBody()
							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->
	</div>
	<div class="footer" style="bottom: 0">
		<div class="footer-inner">
			<div class="footer-content">
				<span class="bolder bigger-120" style="color: #522d1c">Villa Bisutti &reg;</span>
				@(DateTime.Now.Year)

				&nbsp; &nbsp;

			</div>
		</div>
	</div><!-- Footer -->
</body>
</html>
