@model VillaBisutti.Delta.Core.Model.TipoItemMontagem

@{
	Layout = null;
    //ViewBag.Title = "Details";
}

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PadraoAniversario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PadraoAniversario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PadraoBarmitzva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PadraoBarmitzva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PadraoBatmitzva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PadraoBatmitzva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PadraoCasamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PadraoCasamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PadraoCorporativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PadraoCorporativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PadraoDebutante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PadraoDebutante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PadraoOutro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PadraoOutro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
