@model VillaBisutti.Delta.Core.Model.Perfil

@{
    Layout = null;
    int i = 0;
}

@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("ItemCreated", "Perfil", new { id = "" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Perfil</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>
        <table class="table">
            <thead class="col-md-offset-2">
                @foreach (VillaBisutti.Delta.Core.Model.Modulo item in ViewBag.Modulos)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="Modulos[@(i)].ModuloId" value="@(item.Id)" />
                            <span class="ui-helper-hidden">
                                <input type="checkbox" name="Modulos[@(i)].PodeAlterar" />
                                <input type="checkbox" name="Modulos[@(i)].PodeLer" />
                            </span>
                            <strong>@item.Nome</strong>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" class="set-acesso" id="@(item.Nome)_TOTAL" name="@item.Nome" />Acesso Total
                            </label>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" class="set-acesso" id="@(item.Nome)_LEITURA" name="@item.Nome" /> Somente Leitura
                            </label>
                        </td>
                        <td>
                            <label class="radio-inline">
                                <input type="radio" class="set-acesso" id="@(item.Nome)_SEM" name="@item.Nome" checked />Sem Acesso
                            </label>
                        </td>
                    </tr>
                    @(i++)
                }
            </thead>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Salvar" class="btn btn-default form-control" />
            </div>
        </div>
    </div>
}


