@model VillaBisutti.Delta.Core.Model.Perfil
@{
    Layout = null;
    int i = 0;
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $(".set-acesso").click(function () {
            var clicado = $(this).attr("id").split("_")[0];
            var acao = $(this).attr("id").split("_")[1];
            $("#" + clicado + "_TOTAL").removeClass("active").removeClass("btn-info").removeClass("btn-success").addClass("btn-info");
            $("#" + clicado + "_LEITURA").removeClass("active").removeClass("btn-info").removeClass("btn-success").addClass("btn-info");
            $("#" + clicado + "_SEM").removeClass("active").removeClass("btn-info").removeClass("btn-success").addClass("btn-info");
            $(this).removeClass("btn-info").addClass("btn-success");
            if (acao == "TOTAL") {
                $("#PodeAlterar_" + clicado).attr("value", "true");
                $("#PodeLer_" + clicado).attr("value", "true");
            } else if (acao == "LEITURA") {
                $("#PodeAlterar_" + clicado).attr("value", "false");
                $("#PodeLer_" + clicado).attr("value", "true");
            } else if (acao == "SEM") {
                $("#PodeAlterar_" + clicado).attr("value", "false");
                $("#PodeLer_" + clicado).attr("value", "false");
            }
        });
    });
</script>
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("Edited", "Perfil", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>
        <div class="form-group">
            @foreach (var item in Model.Modulos)
            {
                <input value="@(item.Id.ToString())" type="hidden" name="Modulos[@(i)].Id" />
                <input value="@(item.PerfilId.ToString())" type="hidden" name="Modulos[@(i)].PerfilId" />
                <input value="@(item.Modulo.ToString())" type="hidden" name="Modulos[@(i)].Modulo" />
                <div class="btn-group col-md-4 col-sm-12" style="margin-bottom: 5px" data-toggle="buttons">
					<button class="btn btn-primary btn-sm col-xs-6">@item.Modulo.Nome</button>
                    <button class="btn set-acesso btn-sm @(item.PodeAlterar == true && item.PodeLer == true ? "active btn-success" : "btn-info")" id="@(Model.Id)-@(item.ModuloId)_TOTAL"><i class="fa fa-pencil" title="Acesso Total"></i></button>
                    <button class="btn set-acesso btn-sm @(item.PodeLer == true && item.PodeAlterar == false ? "active btn-success" : "btn-info")" id="@(Model.Id)-@(item.ModuloId)_LEITURA"><i class="fa fa-eye" title="Somente Leitura"></i></button>
                    <button class="btn set-acesso btn-sm @(item.PodeLer == false && item.PodeAlterar == false ? "active btn-success" : "btn-info")" id="@(Model.Id)-@(item.ModuloId)_SEM"><i class="fa fa-eye-slash" title="Sem Acesso"></i></button>
					<span class="ui-helper-hidden">
                        <input value="@(item.ModuloId.ToString())" type="text" name="Modulos[@(i)].ModuloId" />
                        <input value="@(item.PodeAlterar.ToString())" type="text" id="PodeAlterar_@(Model.Id)-@(item.ModuloId)" name="Modulos[@(i)].PodeAlterar" />
                        <input value="@(item.PodeLer.ToString())" type="text" id="PodeLer_@(Model.Id)-@(item.ModuloId)" name="Modulos[@(i)].PodeLer" />
					</span>
				</div>
				i = i + 1;
            }
            </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
                <input type="button" value="Cancelar" data-dismiss="modal" aria-label="Close" class="btn btn-default" aria-hidden="true" />
            </div>
        </div>
    </div>
}
