@model VillaBisutti.Delta.Core.Model.Gastronomia
@{
	Layout = null;
}
@using (Html.BeginForm("Edited", "Gastronomia", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.EventoId)
		<div class="form-group">
			@Html.LabelFor(model => model.Evento.Cardapio, new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.DropDownList("Evento.CardapioId", (IEnumerable<SelectListItem>)ViewBag.Cardapios, String.Empty, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Evento.TipoServico, new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.DropDownList("Evento.TipoServicoId", (IEnumerable<SelectListItem>)ViewBag.TipoServicos, String.Empty, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Observacoes, new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.Observacoes)
				@Html.ValidationMessageFor(model => model.Observacoes)
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-4 col-md-8">
				<input type="submit" value="Save" class="btn btn-default form-control" />
			</div>
		</div>
	</div>
}
