@model VillaBisutti.Delta.Core.DTO.Gastronomia
@{
	Layout = "~/Views/Shared/_EventosLayout.cshtml";
}
@if (ViewBag.IsBlocked == "TRUE")
{
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			LockPage();
		});
	</script>
}
@section scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script language="javascript" type="text/javascript">
		function PostObs(elementId) {
			elementId = "#" + elementId;
			var theElement = $(elementId);
			var id = "AddingTarget_" + (Math.random() + "").replace(".", "");
			var $targetDiv = $("<div />").attr("id", id);
			$("body").append($targetDiv);
			var url = theElement.attr("data-href");
			url += "?id=" + theElement.attr("data-id");
			url += "&obs=" + encodeURIComponent(theElement.val());
			url += "&sid=" + Math.random();
			LoadPage(url, id);
		}
		$(document).ready(function () {
			$(".action-toggle").click(function (e) {
				e.preventDefault();
				var id = "AddingTarget_" + (Math.random() + "").replace(".", "");
				var $targetDiv = $("<div />").attr("id", id);
				$("body").append($targetDiv);
				LoadPage($(this).attr("href"), id);
			});
			$("#AddPrato").submit(function (e) {
				e.preventDefault();
				if (!$("#pratoId").val())
					return false;
				var url = $(this).attr("action");
				url += (url.indexOf("?") < 0 ? "?" : "&") + "pratoId=" + $("#pratoId").val();
				url += "&eventoId=" + $("#AddPratoEventoId").val();
				LoadPage(url, "FormPostTarget");
			});
			$("#TipoPratoId").change(function () {
				var url = $(this).attr("data-target") + "&tipoPratoId=" + $(this).val();
				LoadPage(url, "PratoTarget");
			});
			$(".observacoes-prato").change(function () {
				PostObs($(this).attr("id"));
			});
		});
	</script>
}
<div class="col-xs-12 widget-container-col">
	<div class="widget-box widget-color-dark">
		<div class="widget-header widget-header-large">
			<h4 class="widget-title">
				<i class="menu-icon fa fa-caret-right red"></i>
				<i class="menu-icon fa fa-cuterly"></i>
				Gastronomia
			</h4>
		</div>
	</div>
</div>
<div class="col-xs-12 row">
	<fieldset class="col-md-8">
		<legend>Informações básicas</legend>
		@Html.Partial("../Gastronomia/Edit", Model.ThisGastronomia)
	</fieldset>
	<fieldset class="col-md-3 pull-right">
		<legend>Ações</legend>
		<a href="@(Model.ThisGastronomia.Evento.TipoServicoId != null && Model.ThisGastronomia.Evento.CardapioId != null ? Url.Action("ImportarDoCardapio", "PratoSelecionado", new { @id = Model.ThisGastronomia.EventoId }) : "javascript:void(0);")" class=" btn btn-default form-control">Importar degustação padrão</a>
	</fieldset>
	<fieldset class="col-md-3 pull-right">
		<legend>Prato que não está no cardápio</legend>
		<form id="AddPrato" method="get" action="@(Url.Action("AddPratoNotInCardapio", "PratoSelecionado"))">
			<input type="hidden" id="AddPratoEventoId" name="eventoId" value="@(Model.ThisGastronomia.EventoId)" />
			<div class="form-group">
				<label class="control-label col-md-4" for="TipoPratoId">Tipo de prato</label>
				<div class="col-md-8">
					@Html.DropDownList("TipoPratoId", (IEnumerable<SelectListItem>)ViewBag.TipoPrato, String.Empty, new { @class = "form-control", data_target = Url.Action("PratosPorTipo", "Prato", new { sid = new Random().Next(0, 999999) }) })
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-4" for="TipoPratoId">Prato</label>
				<div class="col-md-8" id="PratoTarget">
					<select>
						<option selected="selected" disabled="disabled">Selecione o tipo de prato</option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-default form-control">Incluir</button>
		</form>
</fieldset>
</div>
<div class="col-xs-12 row">
	@foreach (VillaBisutti.Delta.Core.Model.TipoPratoPadrao tipoPrato in Model.Itens.Keys)
	{
		if (Model.Itens[tipoPrato].Count == 0)
		{
			continue;
		}
		<ul class="list-group">
			<li class="list-group-item list-group-item-info">
				<span class="pull-right">
					Selecionar até
					<a href="@Url.Action("DefinirQuantidade", "TipoPratoPadrao", new { id = tipoPrato.Id, act = "substract" })" class="btn btn-xs btn-info action-toggle">
						<i class="fa fa-minus"></i>
					</a>
					<span id="Quantidade_@tipoPrato.Id">@(tipoPrato.QuantidadePratos)</span>
					<a href="@Url.Action("DefinirQuantidade", "TipoPratoPadrao", new { id=tipoPrato.Id, act = "add" })" class="btn btn-xs btn-info action-toggle">
						<i class="fa fa-plus"></i>
					</a>
					prato(s)
				</span>
				@(tipoPrato.TipoPrato.Nome)
			</li>
			@foreach (VillaBisutti.Delta.Core.Model.PratoSelecionado prato in Model.Itens[tipoPrato])
			{
				<li class="list-group-item container-fluid">
					<span class="pull-right col-md-5">
						<!-- Degustar / Aprovado / Descartado -->
						<a id="Degustar_@(prato.Id)" href="@Url.Action("ToggleDegustar", "PratoSelecionado", new { id=prato.Id })" class="btn btn-xs @(prato.Degustar ? "btn-success" : "btn-danger") tooltip-info action-toggle @(prato.Rejeitado || prato.Escolhido ? "hidden" : "")" data-rel="tooltip" data-placement="left" data-original-title="Clique para @(prato.Degustar ? "remover da" : "incluir na") degustação">
							@(Html.Raw(prato.Degustar ? "<i class=\"fa fa-check\"></i> Item será degustado" : "<i class=\"fa fa-frown-o\"></i> Degustar item"))
						</a>
						<a id="Escolher_@(prato.Id)" href="@Url.Action("ToggleEscolher", "PratoSelecionado", new { id=prato.Id })" class="btn btn-xs @(prato.Escolhido ? "btn-success" : "btn-danger") tooltip-info action-toggle @(prato.Rejeitado ? "hidden" : "")" data-rel="tooltip" data-placement="left" data-original-title="Clique para @(prato.Escolhido ? "remover do" : "incluir no") evento">
							@(Html.Raw(prato.Escolhido ? "<i class=\"fa fa-check\"></i> Item definido" : "Definir item"))
						</a>
						<a id="Rejeitar_@(prato.Id)" href="@Url.Action("ToggleRejeitar", "PratoSelecionado", new { id=prato.Id })" class="btn btn-xs @(prato.Rejeitado ? "btn-info" : "btn-danger") tooltip-info action-toggle @(prato.Escolhido ? "hidden" : "")" data-rel="tooltip" data-placement="left" data-original-title="Clique para @(prato.Rejeitado ? "incluir no" : "remover do") evento">
							@(Html.Raw(prato.Rejeitado ? "<i class=\"fa fa-frown-o\"></i> Item rejeitado" : "Rejeitar item"))
						</a>
					</span>
					<span id="Observacoes_Container_@prato.Id" class="pull-right col-md-2">
						@if (prato.Degustar || prato.Escolhido)
						{
							<input id="Observacoes_@prato.Id" type="text" placeholder="Observações" class="observacoes-prato form-control" value="@(prato.Observacoes)" data-id="@prato.Id" data-href="@Url.Action("AlterarObservacoes", "PratoSelecionado")" />
						}
					</span>
					<span class="col-md-5">
						<strong>@(prato.Prato.Nome)</strong>
					</span>
				</li>
			}
		</ul>
	}
</div>
<div id="FormPostTarget"></div>