@using VillaBisutti.Delta
@model VillaBisutti.Delta.Core.Model.ItemRoteiro
@{
	Layout = null;
	//ViewBag.Title = "Create";
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		CreateHorarioEditor("HorarioInicio");
	});
</script>
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("ItemCreated", "Roteiro"))
{
    @Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true)

		<div class="form-group">
			@Html.LabelFor(model => model.Titulo, new { @class = "control-label col-md-2" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.Titulo)
				@Html.ValidationMessageFor(model => model.Titulo)
				<input type="hidden" name="EventoId" value="@(ViewBag.Id)" />
			</div>
			@Html.LabelFor(model => model.Inicio, new { @class = "control-label col-md-2" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.HorarioInicio)
				@Html.ValidationMessageFor(model => model.Inicio)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Observacao, new { @class = "control-label col-md-2" })
			<div class="col-md-4">
				@Html.TextAreaFor(model => model.Observacao, new { @rows = 4, @class = "form-control"})
				@Html.ValidationMessageFor(model => model.Observacao)
			</div>
			@Html.LabelFor(model => model.Importante, new { @class = "control-label col-md-2" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.Importante)
				@Html.ValidationMessageFor(model => model.Importante)
				<br />
				<label for="antesInicio">Antes do início do evento</label>
				<input type="checkbox" name="antesInicio" id="antesInicio" value="false" />
			</div>
		</div>



		<div class="form-group">
			<div class="col-md-offset-2 col-md-4">
				<input type="submit" value="Salvar" class="btn btn-default form-control" />
			</div>
		</div>
	</div>
}
