@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemRoteiro>
@{
	Layout = "~/Views/Shared/_EventosLayout.cshtml";
}
@if (ViewBag.IsBlocked == "TRUE")
{
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			LockPage();
		});
	</script>
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$(".FormItemEditor").submit(function (evt) {
			evt.preventDefault();
			var myUrl = $(this).attr("action");
			var id = $(this).attr("id").split("_")[1];
			$("#SpinerDisplay_" + id).addClass("fa-spinner fa-pulse").removeClass("fa-refresh");
			var myData = $(this).serialize();
			$("#Item_" + id + " input[type='checkbox']").each(function () {
				myData += "&" + $(this).attr("name");
				myData += "=";
				myData += $(this).attr("checked") == "checked" ? "True" : "False";
			});
			$.ajax({
				type: "POST",
				url: myUrl,
				data: myData,
				success: function (data) {
					$("#Item_" + id).removeClass("bg-warning").removeClass("bg-success");
					$("#Item_" + id).addClass(data.trim() == "true" ? "bg-warning" : "bg-success");
					AddStack("Item salvo", "Item alterado com sucesso");
					$("#SpinerDisplay_" + id).addClass("fa-refresh").removeClass("fa-spinner fa-pulse");
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					AddError("Ops!", "Ocorreu um erro au tentar atualizar este campo.<br />Verifique os dados inseridos e tente novamente.");
					$("#SpinerDisplay_" + id).addClass("fa-refresh").removeClass("fa-spinner fa-pulse");
				}
			});
		});
		$(".PopUpActionLinks").click(function (e) {
			e.preventDefault();
			ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
		});
	});
</script>
<div class="col-xs-12 widget-container-col">
	<div class="widget-box widget-color-dark">
		<div class="widget-header widget-header-large">
			<h4 class="widget-title">
				<i class="menu-icon fa fa-caret-right red"></i>
				<i class="menu-icon fa fa-list-ul"></i>
				Roteiro
			</h4>
		</div>
	</div>
</div>
@Html.Action("Create", "Roteiro")
<table class="table">
    <tr>
        <th width="40%">
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
		<th width="10%">
			@Html.DisplayNameFor(model => model.HorarioInicio)
		</th>
		<th width="40%">
			@Html.DisplayNameFor(model => model.Observacao)
		</th>
		<th width="10%">
			Opções
		</th>
    </tr>

@foreach (var item in Model) {
    @Html.Partial("../Roteiro/Edit", item)
}

</table>
