@model VillaBisutti.Delta.Core.Model.TipoPratoPadrao
@{
	Layout = null;
}
	<span class="ui-helper-hidden">
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		<input type="hidden" name="itens[@(Model.Id)].Id" value="@(Model.Id)" />
	</span>
	<span class="form-group pull-right">
		<input type="number" name="itens[@(Model.Id)].QuantidadePratos" value="@(Model.QuantidadePratos)" style="width:45px;" />
	</span>
	<span class="form-group">@(Model.TipoPrato.Nome)</span>
