@model VillaBisutti.Delta.Core.Model.TipoPratoPadrao
@{
	Layout = null;
}
@if (ViewBag.IsBlocked == "TRUE")
{
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			LockPage();
		});
	</script>
}
@using (Html.BeginForm("Edited", "TipoPratoPadrao", FormMethod.Post, new { @class = "form-inline panel" }))
{
	<div class="ui-helper-hidden">
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.Id)
	</div>
	<div class="form-group pull-right"><input type="submit" value="Save" class="btn btn-default" /></div>
	<div class="form-group pull-right">@Html.TextBoxFor(model => model.QuantidadePratos, new { @type = "number", @style = "width:45px;" })</div>
	<div class="form-group">@(Model.TipoPrato.Nome)</div>
}
