@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("#di,#df").change(function () {
			$('#FilterResult').load("@(Url.Content("~/OS/Reunioes"))/?di=" + $("#di").val() + "&df=" + $("#df").val(), function (response, status, xhr) {
				HandleResponse(response, status, xhr.status, xhr.statusText, "#FilterResult");
			});
		});
	});
</script>
<div class="col-xs-12 widget-container-col row">
	<div class="widget-box">
		<div class="widget-header widget-header-flat">
			<h4 class="widget-title lighter">
				<i class="fa fa-filter green"></i>
				Filtros
			</h4>
		</div>
		<div class="widget-body" id="Filtro">
			<div class="widget-main padding-8">
				<div class="form-horizontal row">
					<form action="@Url.Action("DownloadDD", "OS")" target="_blank">
						<label class="control-label col-md-2">Data inicial</label>
						<input class="col-md-2" type="date" name="di" id="di" value="@(DateTime.Now.AddDays(7).ToString("yyyy-MM-dd"))" />
						<label class="control-label col-md-2">Data final</label>
						<input class="col-md-2" type="date" name="df" id="df" value="@(DateTime.Now.AddDays(21).ToString("yyyy-MM-dd"))" />
						<button class="col-md-2 btn btn-xs btn-info" type="button">Gerar degustações</button>
						<button class="col-md-2 btn btn-xs btn-info">baixar dossiês</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="FilterResult">
	@Html.Action("Reunioes", "OS", new { di = DateTime.Now.AddDays(7), df = DateTime.Now.AddDays(21) })
</div>
