@model VillaBisutti.Delta.Core.Model.ItemBebidaSelecionado
@{
	Layout = null;
}
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			$("#TipoItemBebidaId").change(function () {
				if (!$(this).val())
					$("#ItensBebidaContainer").html("<select class=\"form-control\" />");
				else
					LoadPage("@(Url.Action("ListarPorTipo", "ItemBebida"))/?tipoId=" + $(this).val(), "ItensBebidaContainer");
			});
			$("#ContratacaoBisutti").button().change(function () {
				if ($(this).is(':checked')) {
					$("#FornecimentoBisuttiContainer").show();
				} else {
					$("#FornecimentoBisuttiContainer").hide();
				}
			});
			$("#FornecimentoBisutti").button();
			$("#ContratacaoBisutti").change();
		});
	</script>
@using (Html.BeginForm("CreateItemBebidaSelecionado", "ItemBebidaSelecionado"))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		<input type="hidden" name="EventoId" id="EventoId" value="@(ViewBag.Id)" />
		<div class="form-group">
			@Html.LabelFor(model => model.ItemBebida.TipoItemBebida.Nome, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.DropDownList("TipoItemBebidaId", (IEnumerable<SelectListItem>)ViewBag.TipoItemBebidaId, "Selecione", new { @class = "form-control" })
			</div>
			@Html.LabelFor(model => model.ItemBebida.Nome, new { @class = "control-label col-md-2" })
			<div class="col-md-2" id="ItensBebidaContainer">
				<select class="form-control"></select>
			</div>
			@Html.LabelFor(model => model.ContratoAditivo, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.DropDownList("ContratoAditivoId", (IEnumerable<SelectListItem>)ViewBag.ContratoAditivoId, "Selecione", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ContratoAditivoId)
			</div>
		</div>
		<div class="form-group deve-sumir">
			<div class="col-md-6">
				@Html.EditorFor(model => model.ContratacaoBisutti)
				@Html.LabelFor(model => model.ContratacaoBisutti, new { @class = "control-label" })
				@Html.ValidationMessageFor(model => model.ContratacaoBisutti)
			</div>
			<div class="col-md-6" id="FornecimentoBisuttiContainer">
				@Html.CheckBoxFor(model => model.FornecimentoBisutti)
				@Html.LabelFor(model => model.FornecimentoBisutti, new { @class = "control-label" })
				@Html.ValidationMessageFor(model => model.FornecimentoBisutti)
			</div>
		</div>
		<div class="form-group deve-sumir">
			@Html.LabelFor(model => model.Quantidade, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.EditorFor(model => model.Quantidade)
				@Html.ValidationMessageFor(model => model.Quantidade)
			</div>
			@Html.LabelFor(model => model.Observacoes, new { @class = "control-label col-md-2" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Observacoes)
				@Html.ValidationMessageFor(model => model.Observacoes)
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-4">
				<button type="submit" class="btn btn-default form-control"><span class="menu-icon fa fa-plus"></span> Adicionar</button>
			</div>
		</div>
	</div>
	}
	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
