@model VillaBisutti.Delta.Core.Model.ItemBebidaSelecionado
@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("tr.inline-row-editor@(Model.Id)>td :input").change(function () {
			$("#Edit_@(Model.Id)").submit();
		});
	});
</script>
@using (Html.BeginForm("EditFornecimentoBisuttiPost", "ItemBebidaSelecionado", FormMethod.Post, new { @id = "Edit_" + Model.Id }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.Id)
	<tr class="inline-row-editor@(Model.Id) @(Model.StateErrorBisutti ? "bg-danger" : "bg-success")">
		<td>
			@(Model.ItemBebida.TipoItemBebida.Nome) - @(Model.ItemBebida.Nome)
		</td>
		<td>
			@Html.EditorFor(model => model.Quantidade)
		</td>
		<td>
			@Html.EditorFor(model => model.Observacoes)
		</td>
		<td>
			@Html.EditorFor(model => model.Definido)
		</td>
		<td class="col-md-1">
			<a href="@Url.Action("Delete", "ItemBebidaSelecionado", new { id = Model.Id })" class="btn btn-default" title="Remover este item">
				<span class="menu-icon fa fa-trash"></span>
			</a>
	</tr>
}
