@model VillaBisutti.Delta.Core.Model.ItemBebidaSelecionado
@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <tr>
        <td class="col-md-4">
            @(Model.ItemBebida.TipoItemBebida.Nome) - @(Model.ItemBebida.Nome)
        </td>
        <td class="col-md-2">
            @Html.EditorFor(model => model.Quantidade)
        </td>
        <td class="col-md-4">
            @Html.EditorFor(model => model.Observacoes)
        </td>
		<td class="col-md-1">
			@Html.EditorFor(model => model.Definido)
		</td>
		<td class="col-md-1">
			@Html.ActionLink("Excluir este item", "Delete", "ItemBebidaSelecionado", new { id = Model.Id })
		</td>
    </tr>
}
