@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemBebidaSelecionado>
@{
	Layout = null;
}
<table class="table">
	<tr>
		<th class="col-md-4">
			@Html.DisplayNameFor(model => model.ItemBebida.Nome)
		</th>
		<th class="col-md-2">
			@Html.DisplayNameFor(model => model.Quantidade)
		</th>
		<th class="col-md-4">
			@Html.DisplayNameFor(model => model.Observacoes)
		</th>
		<th class="col-md-1">
			@Html.DisplayNameFor(model => model.Definido)
		</th>
		<th class="col-md-1"></th>
	</tr>
	<tbody>
		@foreach (var item in Model)
		{
			@Html.Action("EditFornecimentoBisutti", "ItemBebidaSelecionado", new { id = item.Id })
		}
	</tbody>
</table>
