@model VillaBisutti.Delta.Core.Model.Reuniao
@{
    Layout = null;
}
<script type="text/javascript">
	$(document).ready(function () {
		CreateHorarioEditor("HorarioReuniao");
	});
</script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TipoReuniaoId, "TipoReuniaoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
				@Html.DropDownList("TipoReuniaoId", (IEnumerable<SelectListItem>)ViewBag.TipoReuniaoId, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoReuniaoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsuarioId, "UsuarioId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
				@Html.DropDownList("UsuarioId", (IEnumerable<SelectListItem>)ViewBag.UsuarioId, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UsuarioId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data)
                @Html.ValidationMessageFor(model => model.Data)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HorarioReuniao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HorarioReuniao)
                @Html.ValidationMessageFor(model => model.HorarioReuniao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacoes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observacoes)
                @Html.ValidationMessageFor(model => model.Observacoes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
