@using VillaBisutti.Delta;
@model VillaBisutti.Delta.Core.Model.Evento
@{
	Layout = null;
}

<div class="col-xs-12 widget-container-col" style="min-height: 148px;">
    <div class="widget-box widget-color-dark" style="opacity: 1; z-index: 0;">
        <div class="widget-header widget-header-large">
            <h4 class="widget-title">
                @(Model.Data.ToString("dd/MM/yyyy"))
                <i class="ace-icon fa fa-angle-right"> </i>
                @(Model.Local.NomeCasa)
                <i class="ace-icon fa fa-angle-right"> </i>
                @(Model.NomeHomenageados)
            </h4>
            <div class="widget-toolbar">
                <a href="#">
                    <i class="ace-icon fa fa-file-text red"></i>
                </a>
                <a href="#" data-toggle="collapse" data-target="#collapseExample">
                    <i class="ace-icon fa fa-plus white"></i>
                </a>
            </div>
        </div>
        <div class="widget-body collapse" id="collapseExample">
            <div class="widget-main">
                <div class="alert alert-info container-fluid">
                    <div class="col-sm-4">
                        <b>Tipo de Evento: </b>@(Model.TipoEvento.GetDescription())
                    </div>
                    <div class="col-sm-4">
                        <b>N.º de Convidados: </b>@(Model.Pax) convidados (@(Model.PaxAproximado) - +10%)
                    </div>
                    <div class="col-sm-4">
                        <b>Horário: </b>das @(Model.Inicio.ToString()) às @(Model.Termino.ToString())<br>
                        <b>Cerimonial: </b>@(Model.LocalCerimonia.GetDescription())
                    </div>
                    <div class="col-sm-12">
                        <b>Perfil: </b>@(Model.PerfilFesta)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


