@using VillaBisutti.Delta
@model VillaBisutti.Delta.Core.Model.Evento
@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		function CalcularPax() {
			$("#PaxAproximado").text(Math.floor((parseInt($("#Pax").val()) * 1.1)) + " pessoas aproximadamente");
		}
		CreateHorarioEditor("HorarioInicio");
		CreateHorarioEditor("HorarioTermino");
		$("#Pax").keyup(function () { CalcularPax(); }).change(function () { CalcularPax() });
		CalcularPax();
		$("#LocalCerimonia").change(function () {
			$("#DivObservacoesCerimonia,#DivEnderecoCerimonia").removeClass("hidden");
			if ($(this).val() == "NaoPossui") {
				$("#DivObservacoesCerimonia,#DivEnderecoCerimonia").addClass("hidden");
				return;
			}
			if ($(this).val() != "Externo") {
				$("#DivEnderecoCerimonia").addClass("hidden");
				return;
			}
		});
		$("#PossuiAssessoria").change(function () {
			$("#DivContatoAssessoria").addClass("hidden");
			if ($(this).attr("checked") == "checked") {
				$("#DivContatoAssessoria").removeClass("hidden");
			}
		});
		$("#PossuiAssessoria").change();
	});
</script>
@using (Html.BeginForm("Edited", "Evento"))
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.Id)
		<input type="hidden" name="UsuarioCreateId" value="@(Model.UsuarioCreateId)" />
		<input type="hidden" name="UsuarioCreateData" value="@(Model.UsuarioCreateData)" />
		<input type="hidden" name="CardapioId" value="@(Model.CardapioId)" />
		<input type="hidden" name="TipoServicoId" value="@(Model.TipoServicoId)" />
		<input type="hidden" name="OSFinalizada" value="@(Model.OSFinalizada)" />
		<input type="hidden" name="OSAprovada" value="@(Model.OSAprovada)" />
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li><a href="#DadosPrincipais" data-toggle="tab"><i class="green fa fa-asterisk"></i> Dados principais</a></li>
				<li><a href="#DadosCadastrais" data-toggle="tab"><i class="green fa fa-asterisk"></i> Dados cadastrais</a></li>
				<li><a href="#Informacoes" data-toggle="tab"><i class="green fa fa-asterisk"></i> Informações</a></li>
				<li><a href="#Responsaveis" data-toggle="tab"><i class="green fa fa-asterisk"></i> Responsáveis</a></li>
				<li><a href="#DadosComplementares" data-toggle="tab"><i class="green fa fa-asterisk"></i> Dados complementares</a></li>
				<li><a href="#DadosAutomatizar" data-toggle="tab"><i class="green fa fa-asterisk"></i> Interações automáticas</a></li>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li style="margin-top:2px;"><input type="submit" value="Salvar" class="btn btn-default form-control" /></li>
			</ul>
			<div class="tab-content tababble-min-height">
				<div class="tab-pane in active" id="DadosPrincipais">
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.Local, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.DropDownList("LocalId", new SelectList(new VillaBisutti.Delta.Core.Data.Local().GetCollection(0), "Id", "NomeCasa", Model.LocalId), string.Empty, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.LocalId)
						</div>
					</div>
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.TipoEvento, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.DropDownListFor(model => model.TipoEvento, new SelectList(
											VillaBisutti.Delta.Util.TiposEvento,
											"key",
											"value", (int)Model.TipoEvento), string.Empty, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.TipoEvento)
						</div>
					</div>
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.Data, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							<input type="date" name="Data" id="Data" value="@Model.Data.ToString("yyyy-MM-dd")" class="form-control" />
							@Html.ValidationMessageFor(model => model.Data)
						</div>
					</div>
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.NomeHomenageados, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.EditorFor(model => model.NomeHomenageados)
							@Html.ValidationMessageFor(model => model.NomeHomenageados)
						</div>
					</div>
					<div class="form-group clear-margin">
						<label class="control-label col-md-4">Horário</label>
						<div class="col-md-8">
							@Html.EditorFor(model => model.HorarioInicio)
							@Html.ValidationMessageFor(model => model.HorarioInicio)
							<span>às</span>
							@Html.EditorFor(model => model.HorarioTermino)
							@Html.ValidationMessageFor(model => model.HorarioTermino)
						</div>
					</div>
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.Pax, new { @class = "control-label col-md-4" })
						<div class="col-md-3">
							@Html.EditorFor(model => model.Pax)
							@Html.ValidationMessageFor(model => model.Pax)
						</div>
						<div class="control-label col-md-5" id="PaxAproximado">@(Model.PaxAproximado)</div>
					</div>
				</div>
				<div class="tab-pane" id="DadosCadastrais">
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.NomeResponsavel, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.EditorFor(model => model.NomeResponsavel)
							@Html.ValidationMessageFor(model => model.NomeResponsavel)
						</div>
					</div>
					@*<div class="form-group clear-margin">
						@Html.LabelFor(model => model.CPFResponsavel, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.EditorFor(model => model.CPFResponsavel)
							@Html.ValidationMessageFor(model => model.CPFResponsavel)
						</div>
					</div>*@
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.EmailContato, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.TextBoxFor(model => model.EmailContato, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.EmailContato)
						</div>
					</div>
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.TelefoneContato, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.EditorFor(model => model.TelefoneContato)
							@Html.ValidationMessageFor(model => model.TelefoneContato)
						</div>
					</div>
				</div>
				<div class="tab-pane" id="Informacoes">
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.PerfilFesta, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.TextAreaFor(model => model.PerfilFesta, new { @class = "form-control", @rows = 5 })
							@Html.ValidationMessageFor(model => model.PerfilFesta)
						</div>
					</div>
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.Observacoes, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.TextAreaFor(model => model.Observacoes, new { @class = "form-control", @rows = 5 })
							@Html.ValidationMessageFor(model => model.Observacoes)
						</div>
					</div>
				</div>
				<div class="tab-pane" id="DadosComplementares">
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.LocalCerimonia, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.DropDownList("LocalCerimonia", new SelectList(VillaBisutti.Delta.Util.LocalCerimonia, "key", "value", Model.LocalCerimonia), string.Empty, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.LocalCerimonia)
						</div>
					</div>
					<div id="DivEnderecoCerimonia" class="form-group clear-margin@(Model.LocalCerimonia != VillaBisutti.Delta.Core.Model.LocalCerimonia.Externo ? " hidden" : "")">
						@Html.LabelFor(model => model.EnderecoCerimonia, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.EditorFor(model => model.EnderecoCerimonia)
							@Html.ValidationMessageFor(model => model.EnderecoCerimonia)
						</div>
					</div>
					<div id="DivObservacoesCerimonia" class="form-group clear-margin@(Model.LocalCerimonia == VillaBisutti.Delta.Core.Model.LocalCerimonia.NaoPossui ? " hidden" : "")">
						@Html.LabelFor(model => model.ObservacoesCerimonia, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.TextAreaFor(model => model.ObservacoesCerimonia, new { @class = "form-control", @rows = 5 })
							@Html.ValidationMessageFor(model => model.ObservacoesCerimonia)
						</div>
					</div>
				</div>
				<div class="tab-pane" id="Responsaveis">
					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.Produtora, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.DropDownList("ProdutoraId", new SelectList(new VillaBisutti.Delta.Core.Data.Usuario().GetCollection(0), "Id", "Nome", Model.ProdutoraId), string.Empty, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.ProdutoraId)
						</div>
					</div>

					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.PosVendedora, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.DropDownList("PosVendedoraId", new SelectList(new VillaBisutti.Delta.Core.Data.Usuario().GetCollection(0), "Id", "Nome", Model.PosVendedoraId), string.Empty, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.PosVendedoraId)
						</div>
					</div>

					<div class="form-group clear-margin">
						@Html.LabelFor(model => model.PossuiAssessoria, new { @class = "control-label col-md-4" })
						<div class="col-md-offset-4 col-md-8">
							@Html.EditorFor(model => model.PossuiAssessoria)
							@Html.ValidationMessageFor(model => model.PossuiAssessoria)
						</div>
					</div>

					<div id="DivContatoAssessoria" class="form-group clear-margin">
						@Html.LabelFor(model => model.ContatoAssessoria, new { @class = "control-label col-md-4" })
						<div class="col-md-8">
							@Html.EditorFor(model => model.ContatoAssessoria)
							@Html.ValidationMessageFor(model => model.ContatoAssessoria)
						</div>
					</div>
				</div>
				<div class="tab-pane" id="DadosAutomatizar">
					<div class="form-group clear-margin">
						<div class="col-md-1"></div>
						<label for="EmailBoasVindasEnviado">
							Não enviar e-mail de boas vindas (ou já foi enviado)
						</label>
						@Html.EditorFor(model => model.EmailBoasVindasEnviado)
					</div>
					<div class="form-group clear-margin">
						<div class="col-md-1"></div>
						<label for="EnviarAgendaSemanal">
							Incluir na listagem para recebimento da agenda semanal
						</label>
						@Html.EditorFor(model => model.EnviarAgendaSemanal)
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
			</div>
		</div>
	</div>
}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
@Html.Action("Index", "Foto", new { eventoId = Model.Id, qual = "EV" })
