@model IEnumerable<VillaBisutti.Delta.Core.Model.Evento>
@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("#FiltroEventos input, #FiltroEventos select").change(function () {
			this.form.submit();
		});
	});
</script>
@if (ViewBag.IsBlocked == "TRUE")
{
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			LockPage();
		});
	</script>
}
<div class="col-xl-12 widget-container-col row">
	<div class="widget-box">
		<div class="widget-header widget-header-flat">
			<h4 class="widget-title lighter">
				<i class="fa fa-filter green"></i>
				Filtros
			</h4>
			<div class="widget-toolbar">
				<a href="#" data-toggle="collapse" data-target="#Filtro">
					<i class="fa fa-chevron-up" onclick="$(this).toggleClass('fa-chevron-up fa-chevron-down')"></i>
				</a>
			</div>
		</div>
		<div class="widget-body" id="Filtro">
			<div class="widget-main padding-8">
				<form id="FiltroEventos" class="form-horizontal">
					<div class="row">
						<label for="inicio" class="control-label col-md-2"> Data inicial </label>
						<input type="date" name="inicio" id="inicio" value="@((Request.QueryString["inicio"] != null ? DateTime.Parse(Request.QueryString["inicio"]) : DateTime.Now).ToString("yyyy-MM-dd"))" class="col-md-2" />
						<label for="termino" class="control-label col-md-2"> Data final </label>
						<input type="date" name="termino" id="termino" value="@((Request.QueryString["termino"] != null ? DateTime.Parse(Request.QueryString["termino"]) : DateTime.Now.AddMonths(7)).ToString("yyyy-MM-dd"))" class="col-md-2" />
						<label for="filtro" class="control-label col-md-2" title="Procure pelo nome do responsável, cpf do responsável, email, nome do(s) homenageado(s), telefone de contato"> Filtro </label>
						<input type="text" name="filtro" id="filtro" value="@Request.QueryString["filtro"]" class="col-md-2" />
					</div>
					<div class="row">
						<label for="localId" class="control-label col-md-2">Casa</label>
						@Html.DropDownList("localId", (SelectList)ViewBag.LocalId, "Selecione", new { @class = "col-md-2" })
						<label for="tipoEvento" class="control-label col-md-2">Tipo de evento</label>
						@Html.DropDownList("tipoEvento", (SelectList)ViewBag.TipoEvento, "Selecione", new { @class = "col-md-2" })
						<label for="produtorId" class="control-label col-md-2">Produção</label>
						@Html.DropDownList("produtorId", (SelectList)ViewBag.ProdutorId, "Selecione", new { @class = "col-md-2" })
					</div>
					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<label for="possuiAssessoria" class="control-label col-md-2">Possui assessoria</label>
						<input type="checkbox" name="possuiAssessoria" id="possuiAssessoria" value="True" class="col-md-2" @(Request.QueryString["possuiAssessoria"] != null ? " checked=\"checked\"" : "") />
						<label for="enviado" class="control-label col-md-2">Email de boas vindas já enviado</label>
						<input type="checkbox" name="enviado" id="enviado" value="True" class="col-md-2" @(Request.QueryString["enviado"] != null ? " checked=\"checked\"" : "") />
						<label for="fechado" class="control-label col-md-2">Está com OS fechada</label>
						<input type="checkbox" name="fechado" id="fechado" value="True" class="col-md-2" @(Request.QueryString["fechado"] != null ? " checked=\"checked\"" : "") />
						<label for="aprovado" class="control-label col-md-2">Já foi aprovado</label>
						<input type="checkbox" name="aprovado" id="aprovado" value="True" class="col-md-2" @(Request.QueryString["aprovado"] != null ? " checked=\"checked\"" : "") />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="col-xl-12 widget-container-col row">
	<div class="widget-box">
		<div class="widget-header widget-header-flat">
			<h4 class="widget-title lighter">
				<i class="fa fa-wrench green"></i>
				Ações
			</h4>
			<div class="widget-toolbar hidden">
				<a href="#" class="btn btn-xs btn-info button-padding">
					Gerar degustação				   
				</a>								   
				<a href="#" class="btn btn-xs btn-info button-padding">
					Gerar OS
				</a>								   
				<a href="#" class="btn btn-xs btn-info button-padding">
					Enviar boas vindas
				</a>								   
				<a href="#" class="btn btn-xs btn-info button-padding">
					Enviar agenda semanal
				</a>
			</div>
		</div>
		<div class="widget-body" id="Acoes">
			<div class="widget-main padding-0">


				@if (Model.Count() > 0)
				{
					<table class="table table-striped">
						<tr>
							<th></th>
							<th>
								Evento
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Data)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.HorarioInicio)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.HorarioTermino)
							</th>
							<th>
								Produtor(a)
							</th>
							<th>
								Possui assessoria?
							</th>
							<th>
								Boas vindas enviado?
							</th>
							<th>
								OS Aprovada?
							</th>
							<th>
								OS gerada?
							</th>
						</tr>

						@foreach (VillaBisutti.Delta.Core.Model.Evento item in Model)
						{
							<tr>
								<td>
									<input type="checkbox" name="Selecionado" value="@(item.Id)" />
								</td>
								<td>
									<a href="@Url.Action("Details", "Evento", new { @Id = item.Id })">
										@Html.DisplayFor(modelItem => item.Local.NomeCasa) &gt;
										@Html.DisplayFor(modelItem => item.TipoEvento) &gt;
										@Html.DisplayFor(modelItem => item.NomeHomenageados)
									</a>
								</td>
								<td>
									@item.Data.ToString("ddd, dd/MM/yyyy")
								</td>
								<td>
									@(item.Inicio.ToString())
								</td>
								<td>
									@(item.Termino.ToString())
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Produtora.Nome)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.PossuiAssessoria)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.EmailBoasVindasEnviado)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.OSAprovada)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.OSFinalizada)
								</td>
							</tr>
						}

					</table>
				}
				else
				{
					<div class="alert alert-warning">
						<h5><i class="fa fa-exclamation-triangle"></i>Sem dados para este filtro</h5>
						<p>Modifique a seleção nos filtros e tente novamente </p>
					</div>
				}
			</div>
		</div>
	</div>
</div>
