@model VillaBisutti.Delta.Core.Model.Bebida
@{
	Layout = null;
}
@using (Html.BeginForm("Edited", "Bebida"))
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.EventoId)

		<div class="form-group">
			<label for="Observacoes" class="control-label col-md-2">Observações gerais</label>
			<div class="col-md-8">
				@Html.EditorFor(model => model.Observacoes)
				@Html.ValidationMessageFor(model => model.Observacoes)
			</div>
			<div class="col-md-2">
				<input type="submit" value="Salvar" class="btn btn-default" />
			</div>
		</div>
	</div>
}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
