@model VillaBisutti.Delta.Core.Model.Bebida
@{
	Layout = null;
}
@using (Html.BeginForm("Edited", "Bebida", FormMethod.Post, new { @id = "DadosBebida" }))
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.EventoId)

		<div class="form-group">
			<label for="Observacoes" class="control-label col-md-4">Observações gerais</label>
			<div class="col-md-8">
				@Html.EditorFor(model => model.Observacoes)
				@Html.ValidationMessageFor(model => model.Observacoes)
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-4 col-md-8">
				<input type="submit" value="Salvar" class="btn btn-default form-control" />
			</div>
		</div>
	</div>
}
<div class="row">
	@Html.Action("Index", "Foto", new { qual = "BB", eventoId = Model.EventoId })
</div>
