@model VillaBisutti.Delta.Core.Model.Bebida
@{
	Layout = "~/Views/Shared/_EventosLayout.cshtml";
}
@section scripts {
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$(".FormItemEditor").submit(function (evt) {
			//evt.preventDefault();
			//alert($(this).attr("action"));
		});
	});
</script>
}
<div class="row">
	<fieldset class="col-md-4">
		<legend>Informações básicas</legend>
		@Html.Action("Edit", "Bebida", new { id = @ViewBag.Id })
	</fieldset>
	<fieldset class="col-md-7 pull-right">
		<legend>Adicionar item</legend>
		@Html.Action("Create", "ItemBebidaSelecionado", new { id = @ViewBag.Id })
	</fieldset>
</div>
<div class="row">
	@Html.Action("ListNaoSelecionados", "TipoItemBebida", new { id = @ViewBag.Id })
</div>
<div class="row">
	<h3>Itens Villa Bisutti (Contratação e Fornecimento)</h3>
	@Html.Action("ListFornecimentoBisutti", "ItemBebidaSelecionado", new { id = @ViewBag.Id })
</div>
<div class="row">
	<h3>Fornecedores externos (Contratação Villa Bisutti)</h3>
	@Html.Action("ListFornecimentoTerceiro", "ItemBebidaSelecionado", new { id = @ViewBag.Id })
</div>
<div class="row">
	<h3>Fornecedores externos (Responsabilidade do contratante)</h3>
	@Html.Action("ListFornecimentoContratante", "ItemBebidaSelecionado", new { id = @ViewBag.Id })
</div>
