@model IEnumerable<VillaBisutti.Delta.Core.Model.TipoPrato>
@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
	//ViewBag.Title = "Index";
}

@Html.Action("Create", "TipoPrato")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
		<th>
			Opções
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "PopUpActionLinks", @title = "Editar" }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "PopUpActionLinks", @title = "Excluir" })
        </td>
    </tr>
}

</table>
