@model IEnumerable<VillaBisutti.Delta.Core.Model.TipoPrato>
@{
	Layout = "~/Views/shared/_ConfiguracoesLayout.cshtml";
}
@section scripts {
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			$(".PopUpActionLinks").click(function (e) {
				event.preventDefault();
				ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
			});
		});
	</script>
}
@Html.Action("Create", "TipoPrato")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "PopUpActionLinks" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "PopUpActionLinks" })
        </td>
    </tr>
}

</table>
