@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemCerimonial>

@{
	Layout = "~/Views/Shared/_EventosLayout.cshtml";
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$(".PopUpActionLinks").click(function (e) {
			e.preventDefault();
			ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
		});
	});
</script>
@if (ViewBag.IsBlocked == "TRUE")
{
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			LockPage();
		});
	</script>
}
<div class="col-xs-12 widget-container-col">
	<div class="widget-box widget-color-dark">
		<div class="widget-header widget-header-large">
			<h4 class="widget-title">
				<i class="menu-icon fa fa-caret-right red"></i>
				<i class="menu-icon fa fa-list-ol"></i>
				Roteiro do cerimonial
			</h4>
		</div>
	</div>
</div>
@Html.Action("Create", "Cerimonial")
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Titulo)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Inicio)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Observacao)
		</th>
		<th>
			Opções
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr class="@(item.Importante ? "bg-warning" : "")" >
			<td>
				@Html.DisplayFor(modelItem => item.Titulo)
			</td>
			<td>
				@(item.Inicio.ToString())
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Observacao)
			</td>
			<td>
				@Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "PopUpActionLinks", @title = "Excluir" })
			</td>
		</tr>
	}

</table>
