@model VillaBisutti.Delta.Core.Model.ItemBoloDoceBemCasadoSelecionado
@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		PreventNegativeNumbers("Quantidade");
		$("#TipoItemBoloDoceBemCasadoId").change(function () {
			if (!$(this).val() || !$("#FornecedorId").val())
				$("#ItensTipoItemBoloDoceBemCasadoContainer").html("<select class=\"form-control\" data-val=\"true\" />");
			else
				LoadPage("@(Url.Action("ListarPorTipo", "ItemBoloDoceBemCasado"))/?tipoId=" + $(this).val() + "&fornecedorId=" + $("#FornecedorId").val(),
					"ItensTipoItemBoloDoceBemCasadoContainer");
		});
		$("#FornecedorId").change(function () {
			if (!$(this).val() || !$("#TipoItemBoloDoceBemCasadoId").val())
				$("#ItensTipoItemBoloDoceBemCasadoContainer").html("<select class=\"form-control\" data-val=\"true\" />");
			else
				LoadPage("@(Url.Action("ListarPorTipo", "ItemBoloDoceBemCasado"))/?tipoId=" + $("#TipoItemBoloDoceBemCasadoId").val() + "&fornecedorId=" + $(this).val(),
					"ItensTipoItemBoloDoceBemCasadoContainer");
		});

		$(".responsabilidade-selector").click(function () {
			$(".responsabilidade-selector").removeClass("btn-success");
			$(".responsabilidade-selector").addClass("btn-info");
			$(this).removeClass("btn-info");
			$(this).addClass("btn-success");
			$(".sem-contrato").removeClass("hide");
			var qual = $(this).attr("aria-label")
			if (qual == "bisutti") {
				$("#ContratacaoBisutti").val("true");
				$("#FornecimentoBisutti").val("true");
			} else if (qual == "externo") {
				$("#ContratacaoBisutti").val("true");
				$("#FornecimentoBisutti").val("false");
			} else if (qual == "contratante") {
				$("#ContratacaoBisutti").val("false");
				$("#FornecimentoBisutti").val("false");
				$(".sem-contrato").addClass("hide");
			}
		});
		//Script para validar se todos os selects tem item selecionado
		$("button[type=submit]").click(function () {
		    event.preventDefault();
		    var form = $(this).parents('form:first');
		    var count = 0;
		    form.find("select[data-val='true']").each(function () {
		        if ($(this).val() == "") {
		            AddPopOver($(this), "Preencha este campo!", $(this).attr("data-val-required"));
		            count++;
		            return;
		        }
		    });
		    form.find("input[data-val='true']").each(function () {
		        if ($(this).val() == "") {
		            AddPopOver($(this), "Preencha este campo!", $(this).attr("data-val-required"));
		            count++;
		        }
		    });
		    if (count == 0) {
		        form.submit();
		    }
		});
	});

</script>
@using (Html.BeginForm("CreateItemBoloDoceBemCasadoSelecionado", "ItemBoloDoceBemCasadoSelecionado", FormMethod.Post, new { @id = "CreateItemBoloDoceBemCasado" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		<input type="hidden" name="EventoId" id="EventoId" value="@(ViewBag.Id)" />
		<div class="form-group">
			@Html.LabelFor(model => model.ItemBoloDoceBemCasado.TipoItemBoloDoceBemCasado.Nome, new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.DropDownList("TipoItemBoloDoceBemCasadoId", (IEnumerable<SelectListItem>)ViewBag.TipoItemBoloDoceBemCasadoId, "Selecione", new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.ItemBoloDoceBemCasado.Fornecedor.NomeFornecedor, new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.DropDownList("FornecedorId", (IEnumerable<SelectListItem>)ViewBag.FornecedorId, "Selecione", new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.ItemBoloDoceBemCasado.Nome, new { @class = "control-label col-md-4" })
			<div class="col-md-8" id="ItensTipoItemBoloDoceBemCasadoContainer">
				<select class="form-control" data-val="true"></select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label deve-sumir">Disponibilização</label>
			<div class="col-md-8 deve-sumir btn-group">
				<input type="hidden" id="ContratacaoBisutti" name="ContratacaoBisutti" value="true" />
				<input type="hidden" id="FornecimentoBisutti" name="FornecimentoBisutti" value="false" />
				<span aria-label="externo" class="responsabilidade-selector btn btn-success">Fornecedor Bisutti</span>
				<span aria-label="contratante" class="responsabilidade-selector btn btn-info">Contratante</span>
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Quantidade, new { @class = "control-label col-md-4 deve-sumir" })
			<div class="col-md-8 deve-sumir">
				@Html.EditorFor(model => model.Quantidade)
				@Html.ValidationMessageFor(model => model.Quantidade)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.ContratoAditivo, new { @class = "control-label col-md-4 deve-sumir sem-contrato" })
			<div class="col-md-8 deve-sumir sem-contrato">
				@Html.DropDownListFor(model => model.ContratoAditivoId, (IEnumerable<SelectListItem>)ViewBag.ContratoAditivoId, "Selecione", new { @class = "form-control", data_val = "nope" })
				@Html.ValidationMessageFor(model => model.ContratoAditivoId)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Observacoes, new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.Observacoes)
				@Html.ValidationMessageFor(model => model.Observacoes)
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-4">
				<button type="submit" class="btn btn-default form-control"><span class="menu-icon fa fa-plus"></span> Adicionar</button>
			</div>
		</div>
	</div>
}