@model VillaBisutti.Delta.Core.Model.ItemBoloDoceBemCasadoSelecionado

@{
    ViewBag.Title = "Details";
    Layout = "null";
}

<h2>Details</h2>

<div>
    <h4>ItemBoloDoceBemCasadoSelecionado</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContratoAditivo.Arquivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContratoAditivo.Arquivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evento.ContatoAssessoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.ContatoAssessoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemBoloDoceBemCasado.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemBoloDoceBemCasado.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Definido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Definido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contratado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contratado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContratacaoBisutti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContratacaoBisutti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FornecimentoBisutti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FornecimentoBisutti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FornecedorStartado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FornecedorStartado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContatoFornecimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContatoFornecimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioEntrega)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
