@model IEnumerable<VillaBisutti.Delta.Core.Model.SomIluminacao>
@{
    Layout = "~/Views/Shared/_EventosLayout.cshtml";
}
<table class="row">
    <div class="col-md-4">
        @Html.Action("Edit", "SomIluminacao", new { id = @ViewBag.Id }) @*Beleza*@
    </div>
    <div class="col-md-8">
        @Html.Action("Create", "ItemSomIluminacaoSelecionado", new { id = @ViewBag.Id })
    </div>
    </div>
    <div class="row">
        @Html.Action("ListNaoSelecionados", "TipoItemSomIluminacao", new { id = @ViewBag.Id }) @*Beleza*@
    </div>
    <div class="row">
        <h3>Itens Villa Bisutti (Contratação e Fornecimento)</h3>
        @Html.Action("ListFornecimentoBisutti", "ItemSomIluminacaoSelecionado", new { id = @ViewBag.Id })
    </div>
    <div class="row">
        <h3>Fornecedores externos (Contratação Villa Bisutti)</h3>
        @Html.Action("ListFornecimentoTerceiro", "ItemSomIluminacaoSelecionado", new { id = @ViewBag.Id })
    </div>
    <divitemsomiluminacaoselecionado class="row">
        <h3>Fornecedores externos (Responsabilidade do contratante)</h3>
        @Html.Action("ListFornecimentoContratante", "ItemSomIluminacaoSelecionado", new { id = @ViewBag.Id })
    </divitemsomiluminacaoselecionado>