@model VillaBisutti.Delta.Core.Model.Local

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Local</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.NomeCasa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeCasa)
                @Html.ValidationMessageFor(model => model.NomeCasa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiglaCasa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiglaCasa)
                @Html.ValidationMessageFor(model => model.SiglaCasa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnderecoCasa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnderecoCasa)
                @Html.ValidationMessageFor(model => model.EnderecoCasa)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
