@model VillaBisutti.Delta.Core.Model.Local
@{
	Layout = null;
	//ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm("ItemCreated", "Local")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Local</h4>
        <hr />
        @Html.ValidationSummary(true)

		<div class="form-group col-md-6">
			@Html.LabelFor(model => model.NomeCasa, new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.NomeCasa)
				@Html.ValidationMessageFor(model => model.NomeCasa)
			</div>
		</div>

		<div class="form-group col-md-6">
			@Html.LabelFor(model => model.SiglaCasa, new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.SiglaCasa)
				@Html.ValidationMessageFor(model => model.SiglaCasa)
			</div>
		</div>

		<div class="form-group col-md-6">
			@Html.LabelFor(model => model.EnderecoCasa, new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.EnderecoCasa)
				@Html.ValidationMessageFor(model => model.EnderecoCasa)
			</div>
		</div>

		<div class="form-group col-md-6">
			<div class="col-md-offset-4 col-md-8">
				<input type="submit" value="Salvar" class="btn btn-default form-control" />
			</div>
		</div>
    </div>
}