@model VillaBisutti.Delta.Core.Model.Local

@{
    ViewBag.Title = "Delete";
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiglaCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiglaCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnderecoCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoCasa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
