@model VillaBisutti.Delta.Core.Model.Local
@{
	Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NomeCasa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeCasa)
                @Html.ValidationMessageFor(model => model.NomeCasa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiglaCasa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiglaCasa)
                @Html.ValidationMessageFor(model => model.SiglaCasa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnderecoCasa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnderecoCasa)
                @Html.ValidationMessageFor(model => model.EnderecoCasa)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
