@model VillaBisutti.Delta.Core.Model.Usuario
@{

	Layout = null;
}
@Scripts.Render("~/bundles/jqueryval")
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $(".user-form").validate({
            rules: {
                field: {
                    required: true,
                    email: true
                }
            }
        });
    });
</script>
    
    
@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm("ItemCreated", "Usuario", new { @class = "user-form" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
            <h4>Usuários</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Nome)
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Email, new { @type = "email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Senha, new { @id = "mail", @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.Senha)
                    @Html.ValidationMessageFor(model => model.Senha)
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label col-md-4">Perfil</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.PerfilId, (IEnumerable<SelectListItem>)ViewBag.Perfis, "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Perfil.Nome)
                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Salvar" class="btn btn-default form-control" />
                </div>
            </div>
        </div>
}

