@model VillaBisutti.Delta.Core.Model.Usuario
@{
    Layout = null;
    string[] files = System.IO.Directory.GetFiles(Server.MapPath("~/Content/images/backgrounds"));
    string imagem = Url.Content("~/content/images/backgrounds/" + (new System.IO.FileInfo(files[new Random().Next(0, files.Length)])).Name);
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&Delta; - Villa Bisutti</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/default")
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(".user-form").validate({
                rules: {
                    field: {
                        required: true,
                        email: true
                    }
                }
            });
        });
    </script>
</head>
<body style="background: url(@imagem) top center repeat">
    <div style="background-color: rgba(0,0,0,0.8); width: 100%; height: 100%; ">
        <div class="col-xs-12">
            <div class="text-center" style="margin-top: 150px">
                <img src="/Content/images/logo-villa-bisutti-login.png" />
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="space-6"></div>
                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-sign-in red"></i>&nbsp;Login
                                    </h4>
                                    <div class="space-6"></div>
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <div class="input email">
                                                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "email@villabisutti.com.br", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Email)
                                                </div>
                                                <i class="ace-icon fa fa-at"></i>
                                            </span>
                                        </label>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                @Html.PasswordFor(model => model.Senha, new { @placeholder = "Senha", @class = "form-control" })
                                                <i class="ace-icon fa fa-lock"></i>
                                                @Html.ValidationMessageFor(model => model.Senha)
                                            </span>
                                        </label>
                                        <br>
                                        <div class="clearfix">
                                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary"><i class="ace-icon fa fa-key"></i> Login</button>
                                        </div>
                                    }
                                        <div class="space-4"></div>
                                    @if (ViewBag.ErrorMessage == "error")
                                    {
                                        <div class="alert alert-warning">
                                            <strong>E-mail ou Senha incorretos. <i class="fa fa-frown-o"></i></strong><br />
                                            Tente novamente...
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>						
        </div>
    </div>
</body>
</html>