@model VillaBisutti.Delta.Core.Model.Montagem
@{
Layout = "~/Views/Shared/_EventosLayout.cshtml";
}
@section scripts {
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$(".FormItemEditor").submit(function (evt) {
			evt.preventDefault();
			var myUrl = $(this).attr("action");
			var id = $(this).attr("id").split("_")[1];
			var myData = $(this).serialize();
			$("#Item_" + id + " input[type='checkbox']").each(function () {
				myData += "&" + $(this).attr("name");
				myData += "=";
				myData += $(this).attr("checked") == "checked" ? "True" : "False";
			});
			$.ajax({
				type: "POST",
				url: myUrl,
				data: myData,
				success: function (data) {
					$("#Item_" + id).removeClass("bg-warning").removeClass("bg-success");
					$("#Item_" + id).addClass(data.trim() == "true" ? "bg-warning" : "bg-success");
					AddStack("Item salvo", "Item alterado com sucesso");
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					AddError("Ops!", "Ocorreu um erro au tentar atualizar este campo.<br />Verifique os dados inseridos e tente novamente.");
				}
			});
		});
		$('form').each(function () {
			$(this).validate();
		});
	});
</script>
@Scripts.Render("~/bundles/jqueryval")
}
<div class="row">
	@Html.Action("ListNaoSelecionados", "TipoItemMontagem", new { id = @ViewBag.Id })
</div>
<div class="row">
	<div class="col-md-4">
		<fieldset>
			<legend>Informações básicas</legend>
			@Html.Action("Edit", "Montagem", new { id = @ViewBag.Id })
		</fieldset>
	</div>
	<div class="col-md-8">
		<fieldset>
			<legend>Adicionar item</legend>
			@Html.Partial("../ItemMontagemSelecionado/Create", new VillaBisutti.Delta.Core.Model.ItemMontagemSelecionado())
		</fieldset>
	</div>
</div>

<div class="row">
	<h3>Itens Villa Bisutti (Contratação e Fornecimento)</h3>
	@Html.Partial("../ItemMontagemSelecionado/ListFornecimentoBisutti", Model.Itens.Where(i => i.ContratacaoBisutti && i.FornecimentoBisutti))
</div>
<div class="row">
	<h3>Fornecedores externos (Contratação Villa Bisutti)</h3>
	@Html.Partial("../ItemMontagemSelecionado/ListFornecimentoTerceiro", Model.Itens.Where(i => i.ContratacaoBisutti && !i.FornecimentoBisutti))
</div>
<div class="row">
	<h3>Fornecedores externos (Responsabilidade do contratante)</h3>
	@Html.Partial("../ItemMontagemSelecionado/ListFornecimentoContratante", Model.Itens.Where(i => !i.ContratacaoBisutti))
</div>