@model VillaBisutti.Delta.Core.Model.Montagem
@{
    Layout = "~/Views/Shared/_EventosLayout.cshtml";
}
@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(".FormItemEditor").submit(function (evt) {
            });
        });
    </script>
}
<div class="row">
    <fieldset class="col-md-4">
        <legend>Informações básicas</legend>
        @Html.Action("Edit", "Montagem", new { id = @ViewBag.Id }) 
    </fieldset>
    <fieldset class="col-md-7 pull-right">
        <legend>Adicionar item</legend>
        @Html.Partial("../ItemMontagemSelecionado/Create", new VillaBisutti.Delta.Core.Model.ItemMontagemSelecionado())
    </fieldset>
</div>
<div class="row">
    @Html.Action("ListNaoSelecionados", "TipoItemMontagem", new { id = @ViewBag.Id }) 
</div>
<div class="row">
    <h3>Itens Villa Bisutti (Contratação e Fornecimento)</h3>
    @Html.Partial("../ItemMontagemSelecionado/ListFornecimentoBisutti", Model.Itens.Where(i => i.ContratacaoBisutti && i.FornecimentoBisutti))
</div>
<div class="row">
    <h3>Fornecedores externos (Contratação Villa Bisutti)</h3>
    @Html.Partial("../ItemMontagemSelecionado/ListFornecimentoTerceiro", Model.Itens.Where(i => i.ContratacaoBisutti && !i.FornecimentoBisutti))
</div>
<div class="row">
    <h3>Fornecedores externos (Responsabilidade do contratante)</h3>
    @Html.Partial("../ItemMontagemSelecionado/ListFornecimentoContratante", Model.Itens.Where(i => !i.ContratacaoBisutti))
</div>
