@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemDecoracao>
@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$(".PopUpItemLinks").click(function (e) {
			e.preventDefault();
			ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
		});
	});
</script>
@if (ViewBag.IsBlocked == "TRUE")
{
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			LockPage();
		});
	</script>
}
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.TipoItemDecoracao.Nome)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Nome)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Quantidade)
		</th>
		<th>
			Opções
		</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.TipoItemDecoracao.Nome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Quantidade)
			</td>
			<td>
				@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "PopUpItemLinks", @title = "Editar" }) |
				@Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "PopUpItemLinks", @title = "Excluir" })
			</td>
		</tr>
	}
</table>
