@model VillaBisutti.Delta.Core.Model.ItemDecoracao
@{
	Layout = null;	
    //ViewBag.Title = "Delete";
}
<h3>
	Você tem certeza que deseja excluir?
</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoItemDecoracao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoItemDecoracao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

    </dl>
	<h3>
		Esta ação não poderá ser desfeita
	</h3>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
			<input type="submit" value="Excluir" class="btn btn-default" />
			<input type="button" value="Cancelar" data-dismiss="modal" aria-label="Close" class="btn btn-default" aria-hidden="true" />
        </div>
    }
</div>