@model VillaBisutti.Delta.Core.Model.ItemDecoracao
@{
	Layout = null;
	//ViewBag.Title = "Details";
}

<div>

	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.TipoItemDecoracao.Nome)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TipoItemDecoracao.Nome)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Nome)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Nome)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Quantidade)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Quantidade)
		</dd>

	</dl>
</div>
