@model IEnumerable<VillaBisutti.Delta.Core.Model.FotoVideo>
@{
	Layout = "~/Views/Shared/_EventosLayout.cshtml";
}

<div class="row">
	<div class="col-md-4">
		@Html.Action("Edit", "FotoVideo", new { id = @ViewBag.Id }) @*Beleza*@
	</div>
	<div class="col-md-8">
		@Html.Action("Create", "ItemFotoVideoSelecionado", new { id = @ViewBag.Id })
	</div>
</div>
<div class="row">
	@Html.Action("ListNaoSelecionados", "TipoItemFotoVideo", new { id = @ViewBag.Id }) @*Beleza*@
</div>
<div class="row">
	<h3>Itens Villa Bisutti (Contratação e Fornecimento)</h3>
	@Html.Action("ListFornecimentoBisutti", "ItemFotoVideoSelecionado", new { id = @ViewBag.Id })
</div>
<div class="row">
	<h3>Fornecedores externos (Contratação Villa Bisutti)</h3>
	@Html.Action("ListFornecimentoTerceiro", "ItemFotoVideoSelecionado", new { id = @ViewBag.Id })
</div>
<div class="row">
	<h3>Fornecedores externos (Responsabilidade do contratante)</h3>
	@Html.Action("ListFornecimentoContratante", "ItemFotoVideoSelecionado", new { id = @ViewBag.Id })
</div>
