@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemFotoVideo>

@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
	ViewBag.Title = "Index";
}
@section scripts {
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			$(".PopUpActionLinks").click(function (e) {
				e.preventDefault();
				ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
			});
		});
	</script>
}

	@Html.Action("Create", "ItemFotoVideo")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>			
			@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "PopUpActionLinks", @title = "Editar" }) |
			@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "PopUpActionLinks", @title = "Detalhes" }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "PopUpActionLinks", @title = "Excluir" })
</td>
    </tr>
}

</table>
