@model VillaBisutti.Delta.Core.Model.ItemRoteiro

@{
	Layout = null;
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("ItemCreated", "ItemRoteiro")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ItemRoteiro</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo)
                @Html.ValidationMessageFor(model => model.Titulo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
				@Html.EditorFor(model => model.Inicio.Hora)
                @Html.EditorFor(model => model.Inicio.Minuto)
                @Html.ValidationMessageFor(model => model.Inicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Importante, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Importante)
                @Html.ValidationMessageFor(model => model.Importante)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observacao)
                @Html.ValidationMessageFor(model => model.Observacao)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
