@model VillaBisutti.Delta.Core.Model.ItemRoteiro

@{
	Layout = null;
    ViewBag.Title = "Details";
}


<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoteiroPadrao.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoteiroPadrao.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoteiroPadrao.TipoEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoteiroPadrao.TipoEvento)
        </dd>

    </dl>
</div>
