@model IEnumerable<VillaBisutti.Delta.Core.Model.ItemRoteiro>

@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
	ViewBag.Title = "Index";
}
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			$(".PopUpActionLinks").click(function (e) {
				event.preventDefault();
				ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
			});
		});
	</script>

@Html.Action("Create", "ItemRoteiro")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoEvento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @(item.Inicio.ToString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEvento)
        </td>
        <td>
			@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "PopUpActionLinks", @title = "Excluir" })
		 </td>
    </tr>
}

</table>
