@model VillaBisutti.Delta.Core.Model.BoloDoceBemCasado

@{
	Layout = null;
}

<div>

	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Evento.NomeResponsavel)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Evento.NomeResponsavel)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Id)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Id)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Observacoes)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Observacoes)
		</dd>

	</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
			<input type="submit" value="Excluir" class="btn btn-default" /> |
        </div>
    }
</div>
