@model VillaBisutti.Delta.Core.Model.ContratoAditivo

@{
	Layout = null;
	//ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("ItemCreated", "ContratoAditivo"))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Contrato e Aditivos</h4>
		<hr />
		@Html.ValidationSummary(true)
		<input type="hidden" name="EvtId" id="EvtId" value="@ViewBag.Id" />
		<div class="form-group">
			@Html.LabelFor(model => model.Arquivo, new { @class = "control-label col-md-2" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.Arquivo)
				@Html.ValidationMessageFor(model => model.Arquivo)
			</div>
			@Html.LabelFor(model => model.NumeroContrato, new { @class = "control-label col-md-2" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.NumeroContrato)
				@Html.ValidationMessageFor(model => model.NumeroContrato)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.DataContrato, new { @class = "control-label col-md-2" })
			<div class="col-md-4">
				@Html.EditorFor(model => model.DataContrato)
				@Html.ValidationMessageFor(model => model.DataContrato)
			</div>
			<div class="col-md-offset-2 col-md-4">
				<input type="submit" value="Salvar" class="btn btn-default form-control" />
			</div>
		</div>
	</div>
}
