@model VillaBisutti.Delta.Core.Model.ContratoAditivo

@{
	Layout = null;	
    //ViewBag.Title = "Delete";
}
<h3>
	Você tem certeza que deseja excluir?
</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EvtId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvtId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arquivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arquivo)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.NumeroContrato)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NumeroContrato)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DataContrato)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DataContrato)
		</dd>
    </dl>
	<h3>
		Esta ação não poderá ser desfeita
	</h3>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
			<input type="submit" value="Excluir" class="btn btn-default" /> 
			<input type="button" value="Cancelar" data-dismiss="modal" aria-label="Close" class="btn btn-default" aria-hidden="true" />
        </div>
    }
</div>
