@model VillaBisutti.Delta.Core.Model.ContratoAditivo

@{
    //ViewBag.Title = "Delete";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoEventoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEventoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEvento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
			<input type="submit" value="Excluir" class="btn btn-default" /> 
        </div>
    }
</div>
