@model VillaBisutti.Delta.Core.Model.ContratoAditivo

@{
    //ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContratoAditivo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoEventoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEventoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEvento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
