@model IEnumerable<VillaBisutti.Delta.Core.Model.ContratoAditivo>

@{
	Layout = "~/Views/Shared/_ConfiguracoesLayout.cshtml";
    //ViewBag.Title = "Index";
}
@section scripts {
	<script language="javascript" type="text/javascript">
		$(document).ready(function () {
			$(".PopUpActionLinks").click(function (e) {
				e.preventDefault();
				ShowPopUp($(this).attr("href"), $(this).attr("title"), 790);
			});
		});
	</script>
}
    @Html.Action("Create", "ContratoAditivo")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EvtId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arquivo)
        </th>
		<th>
			@Html.DisplayNameFor(model => model.NumeroContrato)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DataContrato)
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EvtId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arquivo)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.NumeroContrato)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.DataContrato)
		</td>
        <td>
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id }, new { @class = "PopUpActionLinks", @title = "Excluir" })
        </td>
    </tr>
}

</table>
