@model VillaBisutti.Delta.Core.Model.ItemDecoracaoCerimonialSelecionado
@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("#TipoItemDecoracaoCerimonialId").change(function () {
			if (!$(this).val())
				$("#ItensDecoracaoCerimonialContainer").html("<select class=\"form-control\" />");
			else
				LoadPage("@(Url.Action("ListarPorTipo", "ItemDecoracaoCerimonial"))/?tipoId=" + $(this).val(), "ItensDecoracaoCerimonialContainer");
		});
		$("#ContratacaoBisutti").button().change(function () {
			if ($(this).is(':checked')) {
				$("#FornecimentoBisuttiContainer").show();
			} else {
				$("#FornecimentoBisuttiContainer").hide();
			}
		});
		$("#FornecimentoBisutti").button();
		$("#ContratacaoBisutti").change();
		PreventNegativeNumbers("Quantidade");


        //Script para validar se todos os selects tem item selecionado
		$("button[type=submit]").click(function () {
		    event.preventDefault();
		    var form = $(this).parents('form:first');

		    var count = 0;
		    form.find("select[data-val='true']").each(function () {
		        if ($(this).val() == "") {
		            AddPopOver($(this), "Preencha este campo!", $(this).attr("data-val-required"));
		            count++;
		            return;
		        }
		    });
		    form.find("input[data-val='true']").each(function () {
		        if ($(this).val() == "") {
		            AddPopOver($(this), "Preencha este campo!", $(this).attr("data-val-required"));
		            count++;
		        }
		    });
		    if (count == 0) {
		        form.submit();
		    }
		});
	});

</script>
@using (Html.BeginForm("CreateItemDecoracaoCerimonialSelecionado", "ItemDecoracaoCerimonialSelecionado", FormMethod.Post, new { @id = "CreateItemDecoracaoCerimonial" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		<input type="hidden" name="EventoId" id="EventoId" value="@(ViewBag.Id)" />
		<div class="form-group">
			@Html.LabelFor(model => model.ItemDecoracaoCerimonial.TipoItemDecoracaoCerimonial.Nome, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.DropDownList("TipoItemDecoracaoCerimonialId", (IEnumerable<SelectListItem>)ViewBag.TipoItemDecoracaoCerimonialId, "Selecione", new { @class = "form-control" })
			</div>
			@Html.LabelFor(model => model.ItemDecoracaoCerimonial.Nome, new { @class = "control-label col-md-2" })
			<div class="col-md-2" id="ItensDecoracaoCerimonialContainer">
				<select class="form-control" data-val="true"></select>
			</div>
			@Html.LabelFor(model => model.ContratoAditivo, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.DropDownListFor(model => model.ContratoAditivoId, (IEnumerable<SelectListItem>)ViewBag.ContratoAditivoId, "Selecione", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ContratoAditivoId)
			</div>
		</div>
		<div class="form-group deve-sumir">
			<div class="col-md-6">
				@Html.EditorFor(model => model.ContratacaoBisutti)
				@Html.LabelFor(model => model.ContratacaoBisutti, new { @class = "control-label" })
				@Html.ValidationMessageFor(model => model.ContratacaoBisutti)
			</div>
			<div class="col-md-6" id="FornecimentoBisuttiContainer">
				@Html.CheckBoxFor(model => model.FornecimentoBisutti)
				@Html.LabelFor(model => model.FornecimentoBisutti, new { @class = "control-label" })
				@Html.ValidationMessageFor(model => model.FornecimentoBisutti)
			</div>
		</div>
		<div class="form-group deve-sumir">
			@Html.LabelFor(model => model.Quantidade, new { @class = "control-label col-md-2" })
			<div class="col-md-2">
				@Html.EditorFor(model => model.Quantidade)
				@Html.ValidationMessageFor(model => model.Quantidade)
			</div>
			@Html.LabelFor(model => model.Observacoes, new { @class = "control-label col-md-2" })
			<div class="col-md-6">
				@Html.EditorFor(model => model.Observacoes)
				@Html.ValidationMessageFor(model => model.Observacoes)
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-4">
				<button type="submit" class="btn btn-default form-control"><span class="menu-icon fa fa-plus"></span> Adicionar</button>
			</div>
		</div>
	</div>
}