@model VillaBisutti.Delta.Core.Model.ItemDecoracaoCerimonialSelecionado
@{
	Layout = null;
}
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("tr.inline-row-editor@(Model.Id)>td :input").change(function () {
			ValidateField($(this), "Edit_@(Model.Id)");
		});
		PreventNegativeNumbers("Quantidade");
	});
</script>
<tr class="inline-row-editor@(Model.Id) @(Model.StateErrorBisutti ? "bg-danger" : "bg-success")">
	@using (Html.BeginForm("EditPost", "ItemDecoracaoCerimonialSelecionado", FormMethod.Post, new { @class = "FormItemEditor", @id = "Edit_" + Model.Id }))
	{
		<td>
			@Html.AntiForgeryToken()
			<input type="hidden" name="Id" value="@(Model.Id)" />
			@Html.HiddenFor(model => model.ContatoFornecimento)
			@Html.HiddenFor(model => model.HorarioMontagem)
			@Html.HiddenFor(model => model.FornecedorStartado)
			@Html.HiddenFor(model => model.Contratado)
			<span id="PlaceHolder_@(Model.Id)"></span>
			@(Model.ItemDecoracaoCerimonial.TipoItemDecoracaoCerimonial.Nome) - @(Model.ItemDecoracaoCerimonial.Nome)
		</td>
		<td>
			@Html.EditorFor(model => model.Quantidade)
		</td>
		<td>
			@Html.EditorFor(model => model.Observacoes)
		</td>
		<td>
			<input class="check-box" type="checkbox" name="Definido" id="Definido" value="@(Model.Definido ? "True" : "False")" @(Model.Definido ? "checked=\"checked\" " : "") />
		</td>
		<td class="col-md-1">
			<a href="@Url.Action("Delete", "ItemDecoracaoCerimonialSelecionado", new { id = Model.Id })" class="btn btn-default" title="Remover este item">
				<span class="menu-icon fa fa-trash"></span>
			</a>
		</td>
	}
</tr>